[2017-01-03 14:09] prahjister opened #1 "Duplicate"
Hey fantastic job on this but I was wondering if you could implement a simple change to remove duplicates. My sensors send duplicate codes to ensure that it is received. Can you implement duplicate removal code? I have changed the code to basically do this but only checks the last code that was sent. This fails if one of the codes sent is not read properly or if 2 sensors fire at the same time. I

[2017-01-03 20:10] 1technophile commented on #1
Thanks, I added the modification into this test program:
https://github.com/1technophile/433toMQTTto433_ESP8266/blob/1technophile-patch-1/_433toMQTTto433_ESP8266.ino

Feel free to test it and comment, if it is ok I will modify also the one with IR.

[2017-01-03 20:27] prahjister commented on #1
ill test this evening but looking at the code it looks almost exactly like what I implemented. The issue is that it assumes only 1 sensor is transmitting at the same time and that rf is always deciphered correctly. It would be better to log the last 20-30 maybe more in a (vector or array not sure....limited programming experience) and test against all of them. Maybe push each in and the last start

[2017-01-03 21:26] 1technophile commented on #1
ok, can we sumup your problem like this:
sensor A send 123456 at 14h23m56s12
sensor A send 123456 at 14h23m56s23
sensor B send 654321 at 14h23m56s33
sensor A send 123456 at 14h23m56s35
sensor B send 654321 at 14h23m56s43

currently you are seeing by mqtt:
sensor A send 123456 at 14h23m56s12
sensor A send 123456 at 14h23m56s23
sensor B send 654321 at 14h23m56s33
sensor A send 123456 at 14h23m56s35

[2017-01-03 22:54] prahjister commented on #1
yes exactly if the last time is milliseconds

For clarification
i get between 6 and 8 duplicate mqtt requests per trigger within about 2 seconds with an occasional wrong decipher

[2017-01-05 18:38] 1technophile opened #3 "Add newremote library to take into account RC with learning mode"
from https://bitbucket.org/fuzzillogic/433mhzforarduino/overview

[2017-01-05 18:44] 1technophile commented on #1
Downloadable for test purposes here:
https://github.com/1technophile/433toMQTTto433_ESP8266/blob/1technophile-patch-1/_433toMQTTto433_ESP8266.ino

[2017-01-05 20:17] prahjister commented on #1
looks good...will test out tonight....if i wanted to make bigger buffer can I just make a bigger array?

[2017-01-05 20:23] prahjister commented on #3
What will this do?

[2017-01-05 21:05] 1technophile commented on #1
you need to change also the number of iteration 10 when this line appears: for (int i = 0; i < 10; i++)

[2017-01-05 21:13] 1technophile commented on #3
enable more devices to work with the gateway like for example DIO remote control with learning mode

[2017-01-06 01:44] prahjister commented on #1
I didn't end up changing more than 10. What you have worked perfectly. I did test 3 simultaneous and neither one works. They interfere with each other.

[2017-01-06 18:26] #1 closed

[2017-01-07 08:56] 1technophile opened #6 "Add weather stations implementation"
from https://bitbucket.org/fuzzillogic/433mhzforarduino/overview

[2017-01-08 20:36] 1technophile opened #7 "Limitation of sending IR value > 2147483647"
When sending value > 2147483647 the data sent by IR is limited to 2147483647

[2017-01-08 20:39] 1technophile commented on #7
This is due to a problem with atol function wich seems to limit the long to the integer limitation during the conversion.
Replace the atol function by a method base on a loop

[2017-01-08 21:02] #7 closed

[2017-01-09 20:45] 1technophile opened #9 "Add the possibility to pass raw data to and from mqtt from and to IR"
so as to extend the range of compatible devices

[2017-01-10 17:41] 1technophile opened #10 "Add the RC5 IR ability to the gateway"

[2017-01-16 07:52] aschr opened #11 "memory fault"
I think in function callback: shouldn't it be
byte* p = (byte*)malloc(length+1);
because later you do
p[length] = '\0';

[2017-01-16 19:36] 1technophile commented on #11
thanks for pointing this!

[2017-01-16 19:36] #11 closed

[2017-01-25 04:26] prahjister opened #13 "Add to your code if you like"
I have added a DHT11 sensor and ldr sensor to you code and it is working well. Add if you like.

The DHT.h library needs to be version 0.1.13. Doesnt compile right with latest

LDR is wired to A0 with a voltage divider....I used a variable resistor to tweak and did most of my testing on an uno to get max voltage below 1v. This Works very well surprisingly very sensitive. In a dark room i get 0 and

[2017-01-29 17:45] 1technophile commented on #3
begining of the wirk here:
https://github.com/1technophile/NewRemoteSwitch

[2017-02-05 20:06] 1technophile opened #14 "Add the ability to pass the RF protocol with the gateway"

[2017-02-05 20:07] 1technophile opened #15 "Add the ability to set the parameters on a web page instead of the code"

[2017-02-07 17:51] 1technophile opened #16 "Merge arduino and esp8266 code"

[2017-02-08 21:19] 1technophile opened #17 "add the remove duplicate function to IR signals"

[2017-02-22 19:46] 1technophile commented on #17
d70875c13db5985153b5c57b375a6a5af1f741fd

[2017-02-22 19:46] #17 closed

[2017-02-22 19:46] 1technophile commented on #16
d70875c13db5985153b5c57b375a6a5af1f741fd

[2017-02-22 19:46] #16 closed

[2017-02-22 19:46] 1technophile commented on #14
d70875c13db5985153b5c57b375a6a5af1f741fd see wiki for more info

[2017-02-22 19:46] #14 closed

[2017-02-22 19:47] 1technophile commented on #13
Added an addon for DHT
d70875c13db5985153b5c57b375a6a5af1f741fd

[2017-02-22 19:47] #13 closed

[2017-03-01 20:18] outrun0506 opened #18 "Only uns RFtoMQTTtoRF"
Hi,

i can't figure out if it is possible remove the IR Suppprt for the OpenGateway. Unfortunately i can't find something in the wiki if it is possible?

Any Help on that

Thanks

BR

Lukas

[2017-03-01 20:23] 1technophile commented on #18
Hi,

I didn't tested it , but think if you just don't connect the ir devices and upload the program it will work. If not i will add this possibility

[2017-03-01 20:26] outrun0506 commented on #18
Hi, thanks for quick response give it a try tomorrow and come back.

[2017-03-04 13:23] 1technophile opened #19 "Add bluetooth sensor for presence detection"

[2017-03-06 18:15] outrun0506 commented on #18
Sorry for late reply, was a little busy last days.

I tried to flash the Sketch to an ESP-8266, only connected to a RF-Receiver and Sender.

I get following Error if i try to flash:

[code]

Can you guess where the problem is?

BR

Lukas

[2017-03-06 19:09] 1technophile commented on #18
Hello,

Yes there was an [error ](https://github.com/markszabo/IRremoteESP8266/pull/77)in the IRRemote ESP8266 library that is now corrected in to the master branch, donwload the following code and place it into you library folder:
https://github.com/markszabo/IRremoteESP8266/tree/master

Try to compile and send again the code

[2017-03-06 19:17] outrun0506 commented on #18
Hi @1technophile thanks for help. Not it's working perfect. Also i can confirm the the Gateway is wokring without any IR-Devices installed. So i only have the RF-Sender and Receiver connected an it is working as expected.

[2017-03-06 19:33] 1technophile commented on #18
Hello, thanks for the feedback!
I included[ a page](https://github.com/1technophile/OpenMQTTGateway/wiki/Using-the-gateway-with-RF-only-or-with-IR-only) into the wiki about this

[2017-03-06 19:33] #18 closed

[2017-03-07 05:37] oriolrius opened #20 "Homie convention"
Hi, first of all let me congratulate for such good project. I love it and I'm investing quite time on testing what you explain, so thanks a lot.

I just want to ask if you considered on following the `[Homie convention](https://github.com/marvinroger/homie)` on top of the MQTT layer? I used to use OpenHAB and now I'm migrating to Home Assistant and in all devices that I integrate using MQTT I foll

[2017-03-07 19:29] 1technophile commented on #20
Hello,

With pleasure,
Yes I considered it but didn't put my hands on it yet. It can be a good point to add some convention into the MQTT world, I will check that.

[2017-03-08 06:25] oriolrius commented on #20
Nice, thank you for your feedback. I appreciate it.

[2017-03-08 20:34] #10 closed

[2017-03-10 06:34] 1technophile opened #21 "Add a publication of advanced receiption data to a topic"
So as to analyse the rf signals it could be interesting to retrieve by mqtt the protocol type, the pulselength and other advanced parameters

[2017-03-13 22:09] evilgreen opened #22 "other ethernet module/library support"
Wiki says

I have enc28j60 ethernet module and trying to adapt the sketch to use UIPEthernet library. Hope I'm doing things right...
So, I'm only getting the following:
[code]

Will it be possible to provide the sketch for such hardware, even untested? I will be more than happy to test and share results. Thanks!

[2017-03-14 08:18] evilgreen commented on #22
It does work with enc28j60 and Mega 2560, I had to adjust the Ethernet library to work with Mega.

[2017-03-14 08:18] #22 closed

[2017-03-14 17:53] 1technophile commented on #22
hello could you please give me the adjustement you've made to work with the mega?

[2017-03-14 20:43] evilgreen commented on #22
Actually, I was about to ask your advise as well. I fixed the ethernet part and even got a few messages from RF, but now I see nothing. My hardware should be ok as it was tested with RFLink before. I have only RF receiver connected, no IR at all.
So, for ENC28J60 on Mega 2560 the following adjustments needs to be done:
1. in {libraries}\UIPEthernet\utility\Enc28J60Network.h :

2. ENC28J60 needs to

[2017-03-14 21:02] 1technophile commented on #22
Pin D3 (#define RF_RECEIVER_PIN 1) should be ok on the mega, this board has an [interrupt ](https://www.arduino.cc/en/Reference/AttachInterrupt)on this pin.
What did you change between the receiption you've got and now?

[2017-03-14 22:21] evilgreen commented on #22
That was very quick check in the morning before going to work... Now everything is back as it was initially but I've got only 1 message which probably caused by some noise:

Note I have no IR receiver!

Earlier it was another message which is probably more relevant

but again it was only single message

Question - do I need to follow the following note?

BTW, the file name is wrong, it should be b

[2017-03-14 22:52] 1technophile commented on #22
Yes you need to follow this note, or change your receiver to pin 18 (#define RF_RECEIVER_PIN 5) or another free interrupt pin

[2017-03-15 01:36] mikegwatson opened #23 "OpenMQTTGateway.ini - user defined parameters not working"
User defined parameters get trounced by the following two lines of code in OpenMQTTGateway.ino:
[code]

Everything works as expected if these two lines are removed and recompiled.

e.g. send MQTT command with RF Pulse Length: 180 and RF Protocol number: 1
**mosquitto_pub -d -u user -P password -t home/commands/MQTTto433/PLSL_180/433_1 -m 5321996**

[2017-03-15 09:17] evilgreen commented on #22
Looks like a library issue. The examples provided with rc-switch library are not working either.

[2017-03-15 20:02] #23 closed

[2017-03-15 20:24] 1technophile opened #24 "Add the ability to handle RF codes up to 32bits"

[2017-03-15 20:59] 1technophile commented on #21
example of received data:
home/433toMQTTAdvanced Value 1316116 Bit 24 Delay 319 Protocol 1

[2017-03-15 21:44] 1technophile commented on #21
need further investigation to be arduino compatible withut wasting too much memory

[2017-03-15 23:35] brendanheyu commented on #24
I had to modify IRemoteESP8266.h to increase the buffer for my raw air con controls (midea a/c)

#define RAWBUF 220 // Length of raw duration buffer

[2017-03-16 19:09] #21 closed

[2017-03-18 15:19] 1technophile commented on #3
Currently the library licensing is not compatible with MIT license

[2017-03-18 16:30] 1technophile opened #25 "Port fan example as an addon instead of a complete separate program"

[2017-03-18 16:30] 1technophile commented on #25
Port https://github.com/1technophile/OpenMQTTGateway/tree/master/examples_with_gpio_usage to an addon

[2017-03-20 22:15] scargill opened #26 "Byron"
Hi

I'm very new to this having been using the RFLink433 unit -  someone pointed out this code - so - I put together an ESP8266 and the RF receiver...   I am looking at the serial signal and with a little handset I have - the unit is picking it up no problem (other than reboots sometimes when setting up).

However it is totally ignoring my Byron SX35 doorbell pushes - should it know about these?

[2017-03-21 20:07] 1technophile commented on #26
Hi,

When you get the code of this doorbell into rflink do you have the protocol  name given, if yes could you share it?

[2017-03-21 20:16] scargill commented on #26
"20;91;Byron;ID=00f9;SWITCH=01;CMD=ON;CHIME=01; "

From: Florian [mailto:notifications@github.com]
Sent: 21 March 2017 20:07
To: 1technophile/OpenMQTTGateway <OpenMQTTGateway@noreply.github.com>
Cc: Peter Scargill <pete@scargill.org>; Author <author@noreply.github.com>
Subject: Re: [1technophile/OpenMQTTGateway] Byron (#26)

Hi,

When you get the code of this doorbell into rflink do you have the p

[2017-03-21 20:30] 1technophile commented on #26
I don't think it's a protocol supported by rcswitch, after a few search it seems to be an homeeasy protocol that could be supported by the newremoteswitch library:
https://github.com/1technophile/NewRemoteSwitch

I would like to integrate it to the gateway but the licence is currently not compatible with MIT one, waiting for the developper answer about this.

[2017-03-21 23:17] scargill commented on #26
I thought I’d give that a shot – out of the box with an ESP8266. Could not get anything out of it.

From: Florian [mailto:notifications@github.com]
Sent: 21 March 2017 20:31
To: 1technophile/OpenMQTTGateway <OpenMQTTGateway@noreply.github.com>
Cc: Peter Scargill <pete@scargill.org>; Author <author@noreply.github.com>
Subject: Re: [1technophile/OpenMQTTGateway] Byron (#26)

I don't think it's a pro

[2017-03-22 18:24] 1technophile commented on #26
Thanks for testing this. It's a pity that It doesn't work.

If you have an arduino and some time to test here is some track to follow:
https://bitbucket.org/fuzzillogic/433mhzforarduino/wiki/Home
https://github.com/bruce33/homeeasyhacking

If the test are concluant I would relaunch the dev for changing their licence and try to integrate and port the code for the gateway.

[2017-03-22 18:38] scargill commented on #26
The first one uses the same libraries as earlier…

Second one no longer works with current Arduino!

From: Florian [mailto:notifications@github.com]
Sent: 22 March 2017 18:25
To: 1technophile/OpenMQTTGateway <OpenMQTTGateway@noreply.github.com>
Cc: Peter Scargill <pete@scargill.org>; Author <author@noreply.github.com>
Subject: Re: [1technophile/OpenMQTTGateway] Byron (#26)

Thanks for testing this

[2017-03-22 19:14] 1technophile commented on #26
If I sum up:
newremoteswitch on esp8266 ko
remoteswitch with arduino ko
new remote switch with arduino ko
homeeasyhacking with arduino ko

Is that correct?

[2017-03-22 19:21] scargill commented on #26
Bear in mind I’ve not gone into this deeply but one says it does not work on Arduino 1 – the other uses the two libraries used in the original ESP package – and I had no luck with that. I can’t really say any more than that. The RFLink software I do know works. Best way is to grab the software and try it.

From: Florian [mailto:notifications@github.com]
Sent: 22 March 2017 19:14
To: 1technophile/O

[2017-03-22 19:53] 1technophile commented on #26
Yes I understood that your bell works with RFlink seeing you first serial extract nevertheless I can't integrate it as it is not anymore open source.

[2017-03-22 20:00] 1technophile opened #27 "Add RF and IR repeater function"
The goal is when a signal is received tfrom RF or IR to repeat it with the emitter, taking into account loop issues (if multiple gateway don't loop the signal)

[2017-03-24 08:06] rexkani opened #28 "Cannot compile with error "avr/interrupt.h: No such file or directory""
Dear all,

I'm very new to this arduino environment and this is actually my first project to explore my smart home study. I have installed the Platformio software, imported the "OpenMQTTGateway" project folder and compiled the code. i quickly realised that i am also required to get all the related libraries and put into the lib folder to make use of the additional libraries.

i have got myselfe IR

[2017-03-24 19:32] 1technophile commented on #28
hello Kenny,

I didn't tested the code with platform.io.
Especialy I don't know if it takes into account the code compilation options. In particular the compilator should not take arduino libraries if you choose nodemcu board which seems to be the case in your logs.

I recommend to use Arduino IDE 1.8.1 or higher with board manager esp8266 2.3.0 or higher which is tested OK

I don't close the issu

[2017-03-24 21:14] 1technophile opened #29 "Change the acknowledgment to be Home assistant compatible"
see:
https://community.home-assistant.io/t/433mhz-infrared-ir-to-and-from-mqtt-on-esp8266/6779/141?u=1technophile

[2017-03-24 21:26] #29 closed

[2017-03-24 22:26] 1technophile opened #30 "Implement MQTT last will and testament"

[2017-03-24 22:29] #30 closed

[2017-03-24 22:42] 1technophile commented on #29
This is also OpenHAB compatible by defining "state" properties into mqtt item file
[OpenHAB-integration](../wiki/OpenHAB-integration)

[2017-03-25 05:58] rexkani commented on #28
Hi 1technophile,

Thanks for replying. I have spent more time studying on that, and i found that the missing libraries are actually standard libraries with arduino. and its included in the basic development kit in both arduino and Platformio. i just dont know why it cannot be found by Platformio.

as you said im only using esp8266, i realised i dont need the arduino codes so that i commented out t

[2017-03-25 07:33] 1technophile opened #31 "Add static IP adress for esp8266"

[2017-03-25 07:34] 1technophile commented on #28
Hello,

With the latest version of arduino IDE you should not have to do that, but what you've made is correct

Yes we can specify static IP for ESP8266, I will add it to the code

[2017-03-25 20:25] #31 closed

[2017-03-26 10:44] rexkani commented on #28
thank you so much!

but i guess the secondary SSID option is not possible?

[2017-03-26 11:48] 1technophile commented on #28
It is working for you now?
you mean to connect to a second SSID if first one is not available?

[2017-03-27 03:50] rexkani commented on #28
haha i dunno if its working right now.

for the secondary SSID, i was just seeking for an option.

the wifi successfully connected, and when i use MQTT to try the publish RF, it shows on the serial monitor that it tried to send and received an ACK. But i can never get back a received signal from 433toMQTT. now im actually wondering if i have ever got the transmitter and the receiver interacted wit

[2017-03-27 05:52] 1technophile commented on #28
Some questions, did you get the msg on the serial saying that MQTT is connected?
What are the devices that you are trying to command if you are trying to send and what are the devices that emits if you are trying to receive?

[2017-03-27 07:34] rexkani commented on #28
MQTT was connected, i saw it from the mosquitto.log that the nodemcu did connect to it.

i was trying to mimic the command of some "cadja" branded remote switches from china.

i was trying to read the command from the remote control, but when i didnt get any feedback, i tried to emit command by myself using the sample code in the wiki. but i didnt receive anything either. i wonder if i did really

[2017-03-27 16:18] wolass commented on #19
Did you think about including a HM-12/ HM-10 with ibeacon firmware on it? To form an ultimate BRIDGE ? ;)

http://www.instructables.com/id/make-iBeacon/?amp_page=true

[2017-03-27 16:21] wolass opened #32 "Add RFM69 gateway"
Hi, your work is AWSOME! But did you consider adding other RF transmitters?
Like for example nRF905 transceiver?
I could not find anything about connecting it to a Esp8266, but maybe you know more about this

[2017-03-27 18:04] 1technophile commented on #32
hello,

Thanks! I was thinking about adding nrf24l01 but not this one, haven't heard about it. I have seen that there is some arduino libraries but didn't found also ESP8266 support

[2017-03-27 18:08] 1technophile commented on #28
If you open the serial monitor did you see message MQTT message received by the gateway when you publish it by mosquitto?
And do you see some traces into the serial monitor when pressing your remote control buttons?

[2017-03-27 18:10] 1technophile opened #33 "Could you add support for AC's maybe, like Mitsubishi"
geoisis:
Awesome project !!!
Although i can't get 433ghz receiver to snif anything, IR works fine.
Could you add support for AC's maybe, like Mitsubishi.
ex: https://github.com/markszabo/IRremoteESP8266

thank you for work, keep it up :D !

[2017-03-27 18:26] 1technophile commented on #19
Thanks for the link, I have an hc-06 that I wanted to integrate but I will take a look at HM-10 and 12

[2017-03-27 18:27] 1technophile commented on #6
library not compatible with MIT licence

[2017-03-27 18:27] #6 closed

[2017-03-28 02:42] rexkani commented on #28
If you open the serial monitor did you see message MQTT message received by the gateway when you publish it by mosquitto?
///YES
And do you see some traces into the serial monitor when pressing your remote control buttons?
///NO

[2017-03-28 17:22] 1technophile commented on #28
Did you check your wirings and voltages?
If you have a multimeter you could verify that you have 5V for your emitter and receiver power supply

[2017-03-28 18:33] rexkani commented on #28
i guess i need to find a multimeter first.

![image](https://cloud.githubusercontent.com/assets/8554830/24421230/15fa1862-1428-11e7-9c18-fb10626b0c6d.png)

[2017-03-28 18:43] 1technophile commented on #28
Yes, and check the receiver part first, do you have a link showing the device that you want to control?

[2017-03-28 18:45] 1technophile commented on #28
Nevertheless, I propose that you open a subject into OpenHAB forum
https://community.openhab.org/s
or contact me by PM on this forum. I'm going to close the issue here as we are far from the first error.

[2017-03-28 18:45] #28 closed

[2017-03-28 19:56] 1technophile commented on #20
Hello,

What do you think about this convention interpretation

Device: openmqttgateway
Nodes: rf-node, ir-node temperature-node, humidity-node

Properties between ():
openmqttgateway(list of device properties from convention)
    rf-node (433tomqtt(not settable), mqttto433(settable))
    ir-node (irtomqtt(not settable), mqtttoir(settable))
    Temperature-node1 (temperature(not settable))
    Hum

[2017-03-30 08:10] oriolrius commented on #20
It makes sense, it seems a very good initial approach. Don't forget to report the rest of the variables of the convention is very useful to monitor devices. You have all details here:

https://github.com/marvinroger/homie

It's fast to review.

[2017-04-08 07:18] 1technophile commented on #24
waiting to implement this, there is maybe an issue with RCSwitch about 32 bits support
https://github.com/sui77/rc-switch/issues/78

[2017-04-08 12:45] 1technophile commented on #15
some ideas for uno + W5100:
http://forum.arduino.cc/index.php?topic=55044.15

[2017-04-12 07:49] consolacion commented on #32
You  made a great program, I guess adding anything and still keep one file to maintain is going to be a bit tricky as for the UNO you only have some 576 bytes left for local variables. That is abt 50 bytes away from the dreaded   'unstable' warning.
So yes, adding any functionality would be great, but i guess you can only do that for the ESP8266 compilation ;-)
So,,, while we are at it, how about

[2017-04-12 17:55] 1technophile commented on #32
Thanks, my strategy is as long as I can maintain one program I will do it. It has the advantage of making it optimal.
I'm more inclined about supporting RFM69 support as it seems more used than nRF905.

RFM69 seems to me dedicated to DIY or some special board like jeenode or moteino. What is the use case you are seeing with RFM69?

[2017-04-12 19:06] 1technophile commented on #19
hm-10 ordered!

[2017-04-12 19:49] consolacion commented on #32
Wise decision to keep it in one file.
I was joking a bit about the RFM69 :-) Not sure if RFM69 is more dedicated to DIY than  any other electronics project out there. There are various boards, except the ones you mention Adafruit has 2  featherboards with RFM69 I think.
I use it  for longRange connection of sensors that are some 300 meters away in another property that has no internet.
Am using th

[2017-04-12 20:49] 1technophile opened #34 "Avoid duplicate of RF signals for multiple gateway installations"
Goal is to removes duplicate signal received when several gateway are used, for instance if one sensor emit and the code is listened by two gateway they will previously send  two code by MQTT. With this modification it should not be the case anymore.
The first gateway that listened the code send the code to the other gateways by MQTT, these gateways store the code into their ReceivedSignal array t

[2017-04-12 20:52] #34 closed

[2017-04-14 19:22] 1technophile commented on #25
@rickybrent are you interested in converting your fan example to an addon?

[2017-04-15 06:01] 1technophile commented on #32
If we take into account the range i think rfm69 or 95 are better than nrf24l01. But nrf24l01 is more used especialy with mysensors framework...

[2017-04-15 06:28] consolacion commented on #32
I fully agree. I was just  thinking abt the practicalities of combining RFMxx (which usually needs to be placed high and outside) and the IR (which is more aimed at inside the house),
But I would welcome any addition, either RFM69 or NRF24l01

[2017-04-15 20:07] 1technophile commented on #32
The more I think and the more the RFM69 seems to be a good next step, I have also an open energy monitor that rely on RFM69 and will enable me to simplify my architecture a little.

[2017-04-15 21:53] consolacion commented on #32
I am looking forward toit :-)

[2017-04-17 04:00] IronWolfMC opened #35 "Arduino Duemilanove woes"
I've been attempting to use the gateway with an Arduino Duemilanove using a 433mhz RF transmitter/receiver, yet have been having quite a fair amount of difficulty in getting it to work. It seems that whenever I send an RF command, my RF transmitter will only send gibberish to the receiver. This transmitter/receiver pair has been working fine with my Raspberry Pi, so the transmitters do indeed work

[2017-04-17 07:12] 1technophile commented on #35
Hello,

I see the following potential issue:
-is your arduino based on atmega328p or atmega168 (should be written on the chip), if atmega168 i think there is not enough ram to support.
-secondly did you modify the irremote library following this note:
**IMPORTANT NOTE: On arduino UNO comment the following line ** #define IR_USE_TIMER2 line 137 and uncomment #define IR_USE_TIMER1 line 138 into the

[2017-04-17 07:48] IronWolfMC commented on #35
The board is based on the Atmega328 (not p version though). The board is pretty much exactly the same as an Uno.

I did indeed comment/uncomment the necessary lines in the IRremote library. The transmitters I am using are these: http://a.co/9mg98Av which from what I understand will work perfectly fine.

[2017-04-17 19:09] 1technophile commented on #35
When you compile did you get the warning message about lack of memory for variables ?

[2017-04-17 19:15] IronWolfMC commented on #35
Nope. No error, compiles just fine.

`Sketch uses 28478 bytes (92%) of program storage space. Maximum is 30720 bytes.
Global variables use 1510 bytes (73%) of dynamic memory, leaving 538 bytes for local variables. Maximum is 2048 bytes.`

[2017-04-17 19:39] 1technophile commented on #35
Could you provide me with irremote, rcswitch, arduino ide and openmqttgateway version?

[2017-04-17 19:46] IronWolfMC commented on #35
Sure thing.

OpenMQTTGateway: Latest @ 97eaf15
IRremote: 2.2.1 (also tried @ 048efb2)
RCswitch: @ f820d2e
Arduino IDE: 1.8.1

I should have tried the v0.2 release of OpenMQTTGateway, I'll give that one a try this afternoon.

[2017-04-17 20:04] 1technophile commented on #35
Don't think 0.2 will change something, could you indicate to which pin your receiver is connected. Did you checked the voltage supplied to the emitter ?

[2017-04-17 20:37] IronWolfMC commented on #35
In my latest tests, I haven't had an receiver connected, nor any IR components. All I had connected is the RF transmitter to pin D4 (which is powered by a regulated 5v power supply and has been tested with it to work with the RPi sending the codes before). I did connect the 433 receiver to D3 on the Arduino to see if it would receive codes sent by other devices, and it did not report them to MQTT.

[2017-04-17 20:54] 1technophile commented on #35
You mean that just with one rf emitter connected you see ir signals appearing in the traces ?

[2017-04-17 20:56] IronWolfMC commented on #35
Yeah. That's what I find rather odd. Nothing but the RF transmitter connected to D4.

[2017-04-17 20:58] 1technophile commented on #35
Wow that's pretty strange, if you remove the transmitter do you have the same behaviour ?

[2017-04-17 21:00] IronWolfMC commented on #35
I believe so. I'll check again to confirm it shortly.

[2017-04-17 21:07] 1technophile commented on #35
Are you using w5100 or another ethernet module?

[2017-04-17 21:17] IronWolfMC commented on #35
Standard [W5100](http://a.co/4Nw6Ey8). Network connectivity works fine.

[2017-04-17 22:12] IronWolfMC commented on #35
Confirmed, it does happen even with nothing connected and not sending any commands via MQTT. It just magically picks up some IR commands. https://gist.github.com/IronWolfMC/b9a906a3f31884455711834c775b2071

[2017-04-17 22:20] IronWolfMC commented on #35
Hmm, I tested it also with an ESP8266 and it also shoots gibberish to the receiver as well.

[2017-04-18 05:41] 1technophile commented on #35
I will retest on my platforms and go back to you

[2017-04-18 11:18] 1technophile commented on #35
I'm trying to reproduce your issue with the same versions of library as you nevertheless, I can't find an IRremote library with version 2.2.1
https://github.com/z3t0/Arduino-IRremote/releases
https://github.com/markszabo/IRremoteESP8266/releases

[2017-04-18 16:11] IronWolfMC commented on #35
Strange. I removed the library version I had and reinstalled release 2.1.0 of IRremote, however my Arduino IDE reports the version of IRremote to be 2.01 (when it's 2.1.0).

Just for extra safety, I also replaced the rcswitch library with 2.6.2 and it made no difference.

Interestingly enough, when I added an extra '#include IRremoteInt.h' on line 57 of the main script, I only got it to receive a

[2017-04-18 18:07] 1technophile commented on #35
could you upload to your arduino the rcswitch senddemo.ino example and see if you receive something with the pi?

[2017-04-19 01:29] IronWolfMC commented on #35
Yeah, looks like it sends gibberish as well. https://gist.github.com/IronWolfMC/9b2f1461b5bbe102fbce71f9c0c54ed5

I'm starting to wonder if the RF transmitter is not compatible with the rcswitch library, but it still makes me wonder why there would be a 'ghost' IR transmission.

[2017-04-19 05:45] 1technophile commented on #35
Yes there is something strange with this ghost IR could you try the gateway with this code instead, so as to exclude the last commits I've made:
https://github.com/1technophile/OpenMQTTGateway/tree/568c8f0d3076d1ed71c4d0b4312dd09a2323d90d

Regarding the RF issue, do you have other way to receive data than the pi? To double check the receiver.
You could try also to send the signal with different pu

[2017-04-19 06:00] IronWolfMC commented on #35
The [RF receive script](https://raw.githubusercontent.com/milaq/rpi-rf/master/scripts/rpi-rf_receive) uses the python rpi_rf package. I've been testing these against my 433mhz RF outlets as well by sending their activation codes which do not respond to the command. The receiver is known good as it does receive the proper commands that come out of the 433mhz remote that came with the outlets.

I di

[2017-04-19 07:35] 1technophile commented on #35
I'm suspecting a conflict between the ethernet shield and the interrupt used by the libraries, could you try senddemo without the ethernet shield?

[2017-04-19 16:41] IronWolfMC commented on #35
Still the same gibberish even without the shield.

[2017-04-19 19:01] 1technophile commented on #35
you mean that you are receiving only one digit of signal data?

[2017-04-19 19:09] IronWolfMC commented on #35
Yup. Usually a single digit of digital signal with a random pulselength of anywhere from 400 to 900.

[2017-04-19 19:22] 1technophile commented on #35
we are close to the minimal circuit... and I don't see why it is not working. The last possibilities I see:
-load the sendemo example on another board like your esp8266 and see if you have the same behaviour as above
or
-put your esp8266 + receiver with the receivedemoadvanced example, connected to serial and check what is coming as signal from your arduino + transmitter
or
-try with another trans

[2017-04-21 11:37] 1technophile opened #36 "Add the possibility to filter unknown protocols for IR"

[2017-04-22 08:48] 1technophile commented on #32
I have ordered a set of RFM69, will be my next play!

[2017-04-22 10:27] consolacion commented on #32
Looking forward to that.
I had an RFM69 on an arduino pro mini (3V3)  but transferred it to a Wemos. Separate though from the IR/RF wemos.  Would be interesting to see it all in one

[2017-04-22 16:35] IronWolfMC commented on #35
It looks like it was the power supply having a hissy-fit over the Arduino or ESP being connected, as the same PSU works fine with the RPi + transmitter. Tested with a separate PSU and it works great with ESP.

Thank you so much for your help. Is there any way I can buy you a coffee for helping me with all these antics?

[2017-04-22 18:30] 1technophile commented on #35
I'm happy you figured it out!
Thanks for proposing, I will accept with pleasure a tea :-), here is an email adress for paypal transfer untechnophile@gmail.com
or if you are planning to come to west of France I will be happy to share it in real.

[2017-04-22 18:30] #35 closed

[2017-04-24 18:29] #36 closed

[2017-04-27 10:32] phlash13 commented on #27
Isn't this achievable by simply subscribing to the same MQTT channel to which you publish your IR readings?

[2017-04-27 20:55] 1technophile commented on #27
Yes and by adding loop preventing at gateway and multiple gateways level.

[2017-04-30 12:41] phlash13 opened #38 "Problems with Sony IR"
I had to change the following code in "ZGatewayIR.ino" from
`  if (strstr(topicOri, "IR_Sony") != NULL){
    irsend.sendSony(data, 12);
    signalSent = true;`

to

`  if (strstr(topicOri, "IR_Sony") != NULL){
    irsend.sendSony(data, 15, 3);
    signalSent = true;`

Because my Sony AVR relies on having IR signals repeated 3 times (this is the last parameter...) and uses 15bit signals...

Maybe y

[2017-04-30 21:31] 1technophile commented on #38
there is not at this time, but it's a good idea I will add it

[2017-05-01 14:48] 1technophile commented on #19
Bluetooth LE gateway added :
[code]

Tested on NODEMCU not on arduino uno.

[2017-05-02 07:31] wolass commented on #38
This actually is an issue in the IRremote library rather than openMQTTGateway see this issue: https://github.com/markszabo/IRremoteESP8266/issues/124

[2017-05-02 07:38] wolass commented on #19
Impressive!
Did you have to upload any code to HM-10? or it works just by adding the power source to the module?

If you programmed it - could you include the code on the HM-10 side in the wiki?

THANKS FOR KEEPING UP THIS EXTRAORDINARY WORK!

[2017-05-02 08:08] phlash13 commented on #38
This _was_ an issue with IRremote, and as you can see from my example it works with the additional parameter (which isn't used by openMQTTGateway...)!
In addition to that openMQTTGateway uses fixed bit lengths which also isn't that great...

[2017-05-02 08:18] wolass commented on #38
U R right @phlash13.

[2017-05-02 18:01] 1technophile commented on #19
Nop didn't upload any code to the Keyes HM 10 , I got it from BG and worked out of the box
https://www.banggood.com/KEYES-HM-10-6-Pin-Transparent-BLE-Bluetooth-V4_0-Serial-Port-Module-With-Logic-Level-Translator-p-1023524.html?rmmds=myorder

Just plug the 4 wires upload the code to the ESP and enjoy.

As I'm not very familiar with beacon use I used Beacon simulator on an android phone to test it.

[2017-05-04 22:06] 1technophile opened #40 "Use status led for checking gateway state"
https://community.home-assistant.io/t/433mhz-infrared-ir-to-and-from-mqtt-on-esp8266/6779/187?u=1technophile

wifi state
mqtt connection
sending or receiving

[2017-05-05 11:11] 1technophile opened #41 "Add RFID sensor RC522 gateway"

[2017-05-05 11:22] 1technophile commented on #20
Asked to HA community if homie is compatible with home assistant, waiting for feedback.

[2017-05-05 12:12] marksev1 commented on #41
Maybe this link would be useful: https://github.com/Jorgen-VikingGod/ESP8266-MFRC522

[2017-05-05 19:44] openSoftMan opened #42 "mqtt LWT Online / Offline fix"
The announcement should be retained.
client.publish(will_Topic,Gateway_AnnouncementMsg,will_Retain);

This will fix online/offline weirdness to will Topic.

...sent from my phone...

[2017-05-05 20:28] 1technophile commented on #38
Added:
https://github.com/1technophile/OpenMQTTGateway/wiki/User-guide-IR#send-data-by-mqtt-with-advanced-ir-parameters

Waiting for your feedback

[2017-05-05 20:35] 1technophile commented on #42
done thanks for submitting

[2017-05-05 20:35] #42 closed

[2017-05-06 17:11] Rudy96 opened #43 "Integration of 315 Mhz RF"
It would be nice to integrate RF-Receiver and RF-Tranmitter for 315 Mhz.
Using Modules für 315 Mhz with the actual settings for 433 Mhz does not work.

[2017-05-06 19:08] 1technophile commented on #43
Could you detail what is not working exactly, you are not able to receive, send or both?

[2017-05-06 21:15] 1technophile commented on #19
Tested OK on arduino UNO with some minor modifications. I'm closing the request. Don't hesitate to reopen it or open a new issue if needed.

[2017-05-06 21:15] #19 closed

[2017-05-07 13:37] Rudy96 commented on #43
I have only on hardware with 315 Mhz and I don't know the codes to send, so I can't test the transmitter before i get the values by reciving them. So I tested only the Receiver by pressing the buttons of the original remote. But nothing happend on the mqtt-broker (i monitored it with mqtt.fx). With the IR-Receiver everything is fine and I can see the messages on the mqtt-broker.

I use this Receiv

[2017-05-07 14:31] 1technophile commented on #43
It could be also that your remote control emit with a non supported protocol.

Could you try to emit with an arduino and a [send example](https://github.com/sui77/rc-switch/blob/f820d2e46ab227ac800960b57cdefc8f912006c6/examples/SendDemo/SendDemo.ino) of rcswitch to see if the gateway receive it.

[2017-05-08 17:55] Rudy96 commented on #43
Thanks for your help. I tried the "send example" with an Arduino nano. But I can't receive any data with the OpenMQTTGateway. If I understand it right, with the "send example" there should or has to be a message in mqtt.fx. I have no idea what is wrong, but I am also no professional with Arduino, Wemos and things like that.

[2017-05-08 19:01] 1technophile commented on #43
In this case it's more a question of a non supported protocol by rcswitch library than a 315mhz incompatibility.

[2017-05-08 22:00] Guglio95 opened #44 "Turn on and off RF trasmitter"
Hi,
Is the 433MHZ Tx always transmitting carrier signal even if i'm not trasmitting data?
Is it better to connect TX VCC to a GPIO and turn it on/off?
ESP8266 GPIOs carry 12mA, that should be ok for powering the TX unit.

[2017-05-09 05:50] 1technophile commented on #44
Hi,

I'm doing that on atmega328p weather stations that run on batteries to avoid residual consumption. The drawback on doing that on the esp is the transmitter powering with 3,3v, it will work but the range will not be very good. Best thing maybe is to put a transistor and take the power from 5v or superior power supply.

[2017-05-09 16:28] Rudy96 commented on #43
Ok, thanks for the support. Then I will try to solve my problem at the rcswitch project. So this issue can be closed.

[2017-05-09 18:35] #43 closed

[2017-05-12 10:48] glasruit opened #45 "Openhab users warning"
It took me three weeks to find the solution why the IR send function did not work in my Openhab2 configuration. The space character between "{mqtt=">[broker:" and "home/commands/IR_......" is essential.
No space char = not working...

[2017-05-12 20:04] 1technophile commented on #45
strange, I'm not reproducing this behaviour, here is a definition from my item file:
`Switch IRtest				"IR"				<light>	(GF_JA,Plugsm)					{mqtt=">[broker:home/commands/IR_GC:command:ON:38000,1,1,171,171,21,64,21,21,21,21,21,21,21,21,21,21,21,21,21,64,21,64,21,21,21,21,21,21,21,21,21,21,21,21,21,64,21,21,21,21,21,21,21,64,21,21,21,21,21,21,21,21,21,64,21,64,21,64,21,21,21,64,21,64,21,64,21,64,21,11

[2017-05-12 20:26] 1technophile commented on #44
@Guglio95  what is the issue of transmitting carrier signal?

[2017-05-13 12:54] glasruit commented on #45
@1technophile, Strange indeed. I edit the items file with notepad++ in UTF-8 modus.
`Switch TV_key_On	"aan" { mqtt=">[oh2mqtt: home/commands/IR_GC:command:*:36000,1,1,32,32,64,64,64,32,32,32,32,64,64,32,32,64,32,32,64,32,32,3272]" }`
Without the space character the last trace message is "Hey I got a callback" and nothing happens.

[2017-05-13 12:54] #45 closed

[2017-05-16 16:37] synologix opened #46 "Standing Fan IR Code drives me Crazy"
First of all, thank you for doing this great project.

I am new with all this stuff and started with Arduino 2 Weeks ago... let a led blinking and thinked.. ok that was easy so look for some cool stuff and here we go....

I think i made all as you have described including "#define MQTT_MAX_PACKET_SIZE 256"
all codes working fine expect the RAW Code....

I cannot find a Global Caché Code for my Fan

[2017-05-16 19:52] 1technophile commented on #46
Hello,

I have added a prototype of sendraw, you can test it with the last commit and with the following instructions:

1) change the mqtt packet size to 512, [this site](https://mothereff.in/byte-counter) enable to count the byte of the list you are passing to the gateway

2) Enable IR_Raw for arduino by uncommenting the line 129 in user_config.h
` #define IR_Raw`
If you are using the uno you wil

[2017-05-16 22:30] synologix commented on #46
WOW this was really fast, i am impressed.

Where is the Exorbitant big Smiley in this Comment System? Because it works :-)

Thanks a lot

[2017-05-16 22:30] #46 closed

[2017-05-17 16:08] BertrumUK opened #47 "Adding DHT sensor"
I have enabled the sensor in the User_config.h "#define ZsensorDHT" but I cannot see where the pins are enabled for the dht11 to be picked up from?

[2017-05-17 16:10] BertrumUK commented on #47
RF is working a treat in HA but I want to remove the wiring from my Raspberry PI 3 and run them from a NodeMCU via MQTT.

[2017-05-17 18:46] 1technophile commented on #47
Data pin for DHT is defined into ZsensorDHT.ino line 30, for nodemcu you can choose maybe GPIO15 which correspond to D8 by writing
`DHT dht(15,DHT11);`

After you connect DHT Vcc to 5V power source and the ground to the ground power source

[2017-05-17 18:58] BertrumUK commented on #47
Thanks for that. Will changing to DHT22 allow that dht version to work?

[2017-05-17 20:39] 1technophile commented on #47
yes just replace DHT11 by
`DHT dht(15,DHT22);`

[2017-05-17 20:52] BertrumUK commented on #47
Thank you very much.

[2017-05-17 20:52] #47 closed

[2017-05-17 22:48] synologix opened #48 "DHT Enable"
Hi,

i have tried to Compile with the option use of DHT but i run in some problems...

first Missing the DHT.h so i installed the "DHT_sensor_libray" from Adafruit
then there was missing the Adafruit_Sensor.h so i installed "Adafruit_Unified_Sensor"

But now i am Ending in:

ZsensorDHT:38: error: redefinition of 'long unsigned int time1'
 unsigned long time1 = 0;
               ^
ZgatewayBT:36: er

[2017-05-17 23:05] synologix commented on #48
Hmn its Possible i found a Solution for this.. but i dont know this is the right way to do this...

in "ZgatewayBT" i have replaced all  type site /reference
time1 -> timebt

in "ZsensorDHT"  i have replaced all  type site /reference
time1 -> timedht

Compile Error is gone but is that the right way?

And sorry for my bad English...

Best Regards
Hannes

[2017-05-18 21:08] synologix commented on #48
Ok after all i found out this is the right way... I had doubts because issues with the whole system when the DHT22 was connected at boot time with pin d8

when i boot up the device and plug in then the dht22 on pin8 all works finde

then i found out... no its not my fault at all its a generic problem....
GPIO0, GPIO2, and GPIO15 are boot select pins and this causes the NodeMCU to halt on boot
see

[2017-05-19 15:10] BertrumUK commented on #48
Hello Hannes,
Thank you for that update - makes sense now why I couldn't flash my NodeMCU when I had a DHT11 attached to D8. I will experiment with another port on the NodeMCU as a DHT input to save any hassle.

As this is resolved you may want to close it  :thumbsup:

[2017-05-19 15:54] AKA-47 commented on #24
It would be nice to be able to send shorter commands.
i have some device sending things like this:

Decimal: 31 (5Bit) Binary: 11111 Tri-State: 11 PulseLength: 82 microseconds Protocol: 0
Raw data: 4056,75,33,29,982,31,965,34,959,40,613,

Decimal: 127 (7Bit) Binary: 1111111 Tri-State: 111 PulseLength: 349 microseconds Protocol: 0
Raw data: 4027,375,2092,352,2079,361,2078,366,2075,364,2090,355,2071

[2017-05-19 17:42] 1technophile commented on #24
You mean that you've done some test sending data with less than 24 bits and it worked, like for example mySwitch.send(31, 5);
or
mySwitch.send(127, 7);
?

[2017-05-19 18:16] 1technophile commented on #48
I tested with a DHT22 connected to SD3 on nodemcu and it worked, by using this pin you are not forced to use D2 (already use by RF emitter)

[2017-05-20 07:54] 1technophile commented on #48
@synologix could you close the issue if it is OK for you

[2017-05-20 07:54] 1technophile commented on #38
@phlash13 could you close the issue if it is OK for you

[2017-05-20 12:32] 1technophile commented on #27
#define repeatRFwMQTT & #define repeatIRwMQTT

[2017-05-20 12:32] #27 closed

[2017-05-20 14:52] synologix commented on #48
Sorry nope works not for me... all components work normal expect the DHT22 it measures nothing
no value comes up on mqtt message

so i have tested arround and changed to: DHT dht(3,DHT22);
this works on the fly ....

possible my ESP8266 is a another model then yours?
i use a "wemos.cc  LoLin NodeMCU V3" and in the Arduino Editor i have choosen NodeMCU 1.0 (ESP-12E Module)
also Possible this works

[2017-05-20 17:15] 1technophile commented on #48
ok I'm using a nodemcu geekcreet maybe it is the difference.
As my goal is to have parameters working with most of the boards I have tested with another free pin (it begin to be difficult :-)), the pin D3

`DHT dht(D3,DHT22); //on nodeMCU this is D3 GPIO0`

And it is working. Could you test if it works with your config?

[2017-05-20 19:12] #38 closed

[2017-05-20 19:34] 1technophile opened #49 "json payload"
instead of passing parameters into the MQTT subject use json

[2017-05-20 20:54] BertrumUK commented on #48
I've got it working on D3 on a NodeMCU 😉

In the testing phase at the moment using a DHT11, will move over to a DHT22 once I finish my work shift.

Using this setup under Home Assistant

- platform: mqtt
  name: "MQTT RF Temperature"
  state_topic: "home/433toMQTT/dht1/temp"
  unit_of_measurement: "°C"
  value_template: '{{ value | round(2)  }}'

- platform: mqtt
  name: "MQTT RF Humidity"
  state

[2017-05-22 20:51] Flagun commented on #24
Can you please add an option to choose BIT lenght?
I have devices that use 25 bits. Your code is set to 24.
I changed the code to 25 and your gateway works correctly with my devices.

[2017-05-23 06:38] marksev1 commented on #49
It might be also cool if it was definable to use either way? (the old or the new way)

[2017-05-23 18:16] 1technophile opened #50 "Add an option to don't resend dht temperature and humidity when there is no value change"

[2017-05-23 18:22] 1technophile commented on #50
if the float value is not the same as the previous value sent don't send it again

[2017-05-23 18:27] 1technophile commented on #49
yes good idea at short term, at mid term I will remove the old way.
This way the transition can be progressive. Thanks for the idea!

[2017-05-23 19:46] 1technophile commented on #24
yes, can be settable with the key RFBITS_ into the topic

As an impact the key for IR bits length is now IRBITS_

wiki updated

[2017-05-23 19:46] #24 closed

[2017-05-24 20:05] 1technophile commented on #48
@synologix is this parameter working for your board:
`DHT dht(D3,DHT22); //on nodeMCU this is D3 GPIO0`

[2017-05-24 20:33] 1technophile commented on #50
dht_always true send temp and hum value every TimeBetweenReading even if there is no values change
dht_always false send temp or hum every TimeBetweenReading when they change

[2017-05-24 20:33] #50 closed

[2017-05-27 13:32] synologix commented on #48
Yes, working for me, sorry for long time response, i am working on a addon for OpenMQTTGateway ;-) Will hopefully finished soon

[2017-05-27 16:33] 1technophile commented on #48
@synologix great, i close the issue.
Don't hesitate to submit a pull request I will be happy to review it!

[2017-05-27 16:33] #48 closed

[2017-06-02 20:01] 1technophile opened #51 "Change to GPL V3 license"
As I have to use part of examples that are GPL V3 licensed I need to change the license. Moreover some libraries licensed GPL and not LGPL could be studied for integration like rfm69 from lowpowerlab

[2017-06-02 21:18] #51 closed

[2017-06-02 21:18] #9 closed

[2017-06-02 23:28] BertrumUK opened #52 "Add OTA option for remote updating"
It would be a nice option to add an OTA update option so that new updates can be sent via WiFi

[2017-06-06 14:32] glasruit opened #53 "esp8266 enable sendPanasonic and sendRCMM"
You might want to include IR support for IR_PANASONIC and IR_RCMM. I managed both with a little update of your code.
Inside user_config.h after line 127 add
[code]
Inside ZgatewayIR.ino after line 240 add:
[code]

I also managed a "long power on" press for the Panasonic, however that needs some additional changes in IRremoteESP8266.h and IRremoteESP8266.cpp

[2017-06-06 17:08] 1technophile commented on #53
Hello,

Thanks for the proposal,  could you post the modification on irremoteesp8266, i will check it and could include it in the wiki.

[2017-06-06 19:33] 1technophile commented on #53
added to master @glasruit please close if ok for you

[2017-06-07 07:17] dakky opened #54 "Docu: Needed/recommended Features of NodeMCU Firmware"
As new nodemcu firmwares are only available via custom firmware builder (https://nodemcu-build.com/) it would be helpful to have a list of modules, which are needed in order to run this project (min requirements/recommended modules)

[2017-06-07 08:04] glasruit commented on #53
Actually I reported my changes on Github/IRremoteESSP8266. But it seems that these changes are already incorporated in the 2.0-dev branch.  In case that you keep using the original branch, these are my alternations.

My Panasonic tv needs a long press, about 2 seconds, power-on. I managed that, by repeating the power-on-signal for four times with in between a sleeping period of 100 ms.

Change in

[2017-06-07 08:51] glasruit opened #55 "esp8266 open wifi network"
The esp8266 is visible as an open wifi network with a SSID like ESP_12345. It is possible to connect to it and get an ip-number.

To avoid this, you can set the esp8266 in station mode:
In OpenMQTTTGateway.ino add, after line 146 `delay(10)`  :
[code]

[2017-06-07 10:25] dakky opened #56 "can't compile code with arduino IDE 1.8.3"
Simply cloned with submodules and tried to compile.
Error:
[code]

[2017-06-07 11:05] dakky commented on #56
nargls can be closed: this stupid arduinio IDE does not use the "local" libraries folder, but the "central" one. There are the wrong versions of libraries.

Maybe trying to get this to compile with platformIO would help: platformIO allows local libraries in the workspace.

[2017-06-07 11:05] #56 closed

[2017-06-07 16:59] 1technophile commented on #53
ok as I'm planning to integrate the 2.0 we will suppose it covers the need, thanks for the infos

[2017-06-07 16:59] #53 closed

[2017-06-07 18:49] 1technophile commented on #54
@dakky what do you mean by modules, do you have some examples to give?

[2017-06-07 18:50] 1technophile commented on #55
@glasruit Added, please close the issue if OK for you

[2017-06-07 21:06] HannesDi opened #57 "Light Sensor Addon is finished"
i hope all of you understand my bad english ;-)

sorry for the chaos and unstructured work but this is the first contribution
for a project in my life... i started 3 month ago with the arduino stuff
and have no clue i have understand the git system correct how to merge code..

So here we go....

https://github.com/HannesDi/OpenMQTTGateway/tree/addon-lightsensor

I have opened the Door on OpenMQTTG

[2017-06-08 08:10] #55 closed

[2017-06-08 23:53] HannesDi commented on #57
Good News, today my Bosch BME280 multisensor has arrived and i have implented the code to 80%
Unfortunately today was Thursday and so i could not finish it yet but on friday/saturday i send it out as pull request ;-)

[2017-06-09 06:00] 1technophile commented on #57
Hello,

Travis enable to do automatic compilation of the code each time there is a change to the repo.  By the way it verify that the code available is correct on a compilation point view. This is a part of a broader domain called continuous integration CI.
Regarding the PR we have to modify it until travis is OK for all boards. You can find the details in the travis logs. The current error is due

[2017-06-09 07:40] jumpalottahigh commented on #49
What do you think about the ArduinoJSON library? In my tests it has worked nicely. Maybe we can consider using it for the JSON payload?
https://github.com/bblanchon/ArduinoJson/

[2017-06-09 07:45] jumpalottahigh commented on #52
This could be a good starting point:
https://github.com/esp8266/Arduino/tree/master/libraries/ArduinoOTA

[2017-06-09 07:46] BertrumUK commented on #52
Looks good 😉

[2017-06-09 08:40] PatteWi commented on #52
I already implemented it, @1technophile is testing it this weekend ;)

[2017-06-09 09:01] BertrumUK commented on #52
Thanks Patrick. Will see how it goes then update my current config and try it myself 👍

[2017-06-09 09:13] PatteWi commented on #52
I tested it yesterday for mine and I think it works great, but it didn`t use all gateways, just RF and IR.

[2017-06-09 12:30] HannesDi commented on #57
ok i found the problem....

and i think i have adopted it from your main branch ;-)

/home/travis/build/1technophile/OpenMQTTGateway/ZsensorDHT.ino:31:17: fatal error: DHT.h: No such file or directory

difference in mine and your User_config.h is:

yours: //#define ZsensorDHT
mine: #define ZsensorDHT

so as mine has bind ZsensorDHT it runs into the missing entry for the dht sensnor lib and adafrui

[2017-06-09 16:17] 1technophile commented on #49
Yes I think it is a good path

[2017-06-09 20:02] 1technophile commented on #52
Working with the full gateway thanks for the work

[2017-06-09 20:02] #52 closed

[2017-06-10 02:03] HannesDi commented on #57
Light Sensor Addon is Obsolete now because replaced by I2C Modules Addon -> So... Close

[2017-06-10 02:03] #57 closed

[2017-06-13 01:08] ctripodi commented on #15
Hi, I agree, could be great to have this option enabled.
Another example to be considered https://github.com/tzapu/WiFiManager

[2017-06-13 01:12] ctripodi opened #62 "Add the ability to updates ESP8266 via OTA / OTA Uploading"
Another features that could be great to have in this excellent project.
Add the ability to updates  ESP8266 via OTA / OTA Uploading
http://esp8266.github.io/Arduino/versions/2.0.0/doc/ota_updates/ota_updates.html
Thanks.

[2017-06-13 08:49] PatteWi commented on #62
Its already implemented: [https://github.com/1technophile/OpenMQTTGateway/pull/59](click here)

[2017-06-14 20:45] 1technophile commented on #62
@ctripodi Indeed implemented into the master, I added some [doc ](https://github.com/1technophile/OpenMQTTGateway/wiki/OTA-Update-(ESP8266))about it

Please close the issue if OK for you

[2017-06-14 21:05] 1technophile opened #63 "I2C sensors implementation"
BME280 and BH1750

[2017-06-14 21:42] #63 closed

[2017-06-17 19:37] ctripodi commented on #62
Thanks!

[2017-06-17 19:37] #62 closed

[2017-06-19 22:48] rickybrent commented on #25
Sure thing! I can't make any promises on timeframes, though.

[2017-06-20 19:36] jumpalottahigh opened #65 "Add information on how to print a PCB to the Wiki"
Has anyone created a gerber file for this project? I love the project and I'm using it for 433 MHz devices to HA, but thinking to move away from breadboard and cables into a PCB and a box. I would appreciate any tips or ideas on the subject. Mainly looking at itead.cc and fritzing but they are quite new to me and I was unable to find any out of the box design files. Any good ideas on printing a bo

[2017-06-22 21:52] aferraz opened #66 "BLE Problem"
Hi all,
 I have a little problem.
I'm using a NodeMCU and when connect the HM 10 the board don;t boot with the following error:
 ets Jan  8 2013,rst cause:2, boot mode:(7,6)

waiting for host

If I disconnect the HM 10 the board boot again.

Any suggestion ?

Thanks
 Alessandro

[2017-06-23 05:51] 1technophile commented on #66
Hi @aferraz,

Ciuld yiu give the following details:
-is the hm10 a keyes one
-what is your nodemcu and esp version/model
-is the nodemcu rebooting when you connect the hm10 only when openmqttgateway is loaded or do you have the same behaviour with other programs?
-is the hm10 connected to the pins given in the wiki?
-did you checked the wiring tx/rx

[2017-06-23 05:52] 1technophile commented on #65
Hello @jumpalotthigh,

I don't have seen yet some pcb examples, for the moment i m using prototype board and it works well.

[2017-06-23 06:25] aferraz commented on #66
Hi,
 - it's keyes
- nodemcu 1, esp8266 12-E
- if connected after boot all work fine
- I follow the wiki schema for pin connection
- tx/rx is ok, I notice that the hm10 tx pin is the problem, if disconnected before boot the mcu boot, reconnecting after correct boot the hm10 work

Thanks

[2017-06-23 10:20] jumpalottahigh commented on #65
Hi @1technophile , thanks for sharing. Would you care to post an image of your setup for inspiration?

In my case this is my breadboard setup that works and I'm looking into moving to a PCB:
![image](https://user-images.githubusercontent.com/4155121/27477928-6c4b049c-5816-11e7-90da-dcdb32d056d2.png)

And this is my first unsuccessful attempt at soldering on the PCB. I think I shorted something out

[2017-06-23 17:10] 1technophile commented on #66
Hello,

Could you try with I2C_Wiring in user_config.h ?
Uncomment l36
`#define I2C_Wiring`
Comment l37
`//#define Classic_Wiring`

And change the physical wiring corresponding to the end of user_config.h file

[2017-06-23 18:31] aferraz commented on #66
Hello @1technophile,
 same error with HM10 connected

Regards
 Alessandro

[2017-06-23 21:44] 1technophile commented on #66
In Arduino IDE --> board manager could point me out which version of ESP8266 you are using.

Could you check also your HM10 firmware version

[2017-06-23 21:51] 1technophile commented on #65
I don't think my prototype board is interesting, it's made as an arduino UNO shield with some addons (ALARM, 2 status led, 2 DHT) and I'm not very proud about the soldering :-(

Regarding my ESP8266 breadboard setup here is the picture:
![image](https://github.com/1technophile/OpenMQTTGateway/blob/master/img/OpenMQTTGateway_breadboard.jpg)

[2017-06-24 10:13] aferraz commented on #66
Hi,
 on Arduino the ESP8266 version is 2.3.0
I don't know how to check HM10 firmware, can you help me ?

Thanks

[2017-06-24 13:02] aferraz commented on #66
@1technophile found it, firmware version HMSoft V540

[2017-06-24 17:15] 1technophile commented on #66
ok just for others, to check your hm10 firmware version upload a serial sketch to the nodemcu (this will enable to talk directly to the hm10) and launch the command:
`AT+VERR?`

Mine is returning:
`HMSoft V545`

Could you try to update to V545?

[2017-06-24 18:20] 1technophile commented on #66
and with v549?

[2017-06-24 19:33] aferraz commented on #66
I can't flash with 5.49, after flashing the module stay in flashing mode

[2017-06-25 06:52] aferraz commented on #66
@1technophile I don't know if is a problem but on the same MCU I have also RF and IR

[2017-06-25 14:18] 1technophile commented on #66
Could you try with another sketch , not openmqttgateway and check if you uve the sme issue

[2017-06-26 13:45] aferraz commented on #66
I try this http://www.instructables.com/id/ESP8266-HM-10-IBeacon-Proximity/

Same problem, at this point could be my HM10

[2017-06-26 20:13] 1technophile commented on #66
I have a second HM10 i will test with it

[2017-06-26 21:23] 1technophile commented on #66
Tested with a second one hm10 with firmware v545 and it works. Do you have a second nodeMCU to test with?

[2017-06-26 21:24] 1technophile commented on #54
@dakky could you detail your issue please or close it

[2017-06-27 17:02] aferraz commented on #66
Hi @1technophile with another nodemcu it work. So is the MCU the problem.
Thank you

[2017-06-27 17:02] #66 closed

[2017-06-27 20:56] 1technophile commented on #66
Glad to hear that

[2017-06-28 09:20] aferraz opened #67 "IR Transmitter"
Hi all,
 someone can tell me if this is usable on the gateway ?
http://www.gearbest.com/transmitters-receivers-module/pp_346872.html

Thanks

[2017-06-28 09:39] HannesDi commented on #67
1st. i think its not possible to use this, because the gateway pulse the signal to the ir led
and this looks like it need power an a dedicated signal pin.

so its probally possible to bridge the ground and signal pin for make this functional but not 100% sure.

Better Question is.. Why use this?

A IR Diode do the same job but cheaper...

and you also need the resitor and the transistor so nothing

[2017-06-28 09:49] aferraz commented on #67
Thanks @HannesDi ,
 I wanted to use this because I'm a bit denied with the soldering tool ;-)

Regards
 Alessandro

[2017-06-28 09:49] #67 closed

[2017-06-28 11:25] HannesDi commented on #65
Probally in the Summer Holidays i will start diving into this...
Because i also want to have this on a real PCB

@jumpalottahigh: Do you have the possibility to etch a pcb yourself?
I ask, because i will try to do make a gerber file but i have no expirience in that and so its possible i / we need some tries to get a working one ;-)

[2017-06-28 11:47] jumpalottahigh commented on #65
@HannesDi No, I have never done it myself and have very limited experience with circuit making in general. I was thinking if someone with more experience would create the design, you can order professionally made prototype circuits from [Itead](https://www.itead.cc/)

[2017-06-29 14:33] 1technophile opened #68 "Implement change on IRgateway due to 2.x.x of IRremoteESP8266"

[2017-06-30 11:06] donnib opened #69 "HN3031 RF Switch"
Hi,
I have one of these switches and id like to buy more if i can get them to work with this. Unfortunately i don't have an remote for it so i can't replicate the signal to learn it. Is there another way to do this ?
I read that in the first 30sec of it turned on it's in learning mode so i should be able to send a code to it that it learns but i need to know the protocol and what to send, any idea

[2017-06-30 12:49] 1technophile commented on #69
Hi,

I don't think it will work with RCswitch (the library used by the gateway), and even if it work it can be tricky to find the code. My advise is to go to devices compatible:
https://community.home-assistant.io/t/433tomqttto433-gateway-device-list/7819

[2017-07-01 19:13] donnib commented on #69
So i did find a remote which i programmed to control it. I tried to look at home/433toMQTTAdvanced but nothing comes in. I can see codes come in on home/433toMQTT but kinda weird same button will some times give two different codes. I see that home/433toMQTT/protocol gives 2 and bits 32 and length 714 or 716 and i tried so send the codes i got but the switch does not react. Any ideas what could be

[2017-07-01 20:32] 1technophile commented on #69
Did you try by specifying protocol number, bits length and pulselength or only the RF code?

[2017-07-01 21:29] donnib commented on #69
I tried specifying all of them using the home/commands/PLSL_714/433_2/RFBITS_32

[2017-07-03 20:06] donnib opened #70 "how do i test the sender ?"
I mean if i don't have a sender and send something to home/commands/MQTTto433 then i see something on home/433toMQTT so obviously i see something that has nothing to do with the real sender so how do i check whether it works or not ? Is there a way ?

[2017-07-03 20:13] 1technophile commented on #70
what you are seeing in home/433toMQTT is the acknowledgement that the gateway received your command, it enables home assistant to update the state switch.
I this is anoying you you can change in user_config.h the value of
`#define subjectGTWRFtoMQTT "home/433toMQTT"`

to another subject

To be sure that the gateway is sending verify the following things:
-check your emitter power voltage with a mu

[2017-07-04 10:31] donnib commented on #70
@1technophile thank you, i'll dig up another arduino or just make another gateway and make the test. I'll keep mind the chatroom for further questions.

[2017-07-04 10:31] #70 closed

[2017-07-09 19:30] 1technophile commented on #68
https://github.com/markszabo/IRremoteESP8266/issues/272

[2017-07-11 08:26] aferraz opened #71 "How to identify BT LE adress of the IOS devices"
Hi,
 how can I identify a device from the bluetooth address ?
I have iphone and ipad but the mac in the mqtt messange and the mac on the device settings does not match.

Thanks
 Alessandro

[2017-07-11 11:01] wolass commented on #32
How is the tinkering with RFM69 going?
I actually am very interested how this works out as this would greatly increase the capabilities of your great all-in-one GATEWAY.
Mostly by including ENCRYPTION of the communication between NODES and gateway AND ACKNOWLEDGEMENTS - as new nodes with RFM69 have receive/transmit possibilities.

The library is more or less ready from the gihub/lowpowerlabs/RFM69

[2017-07-11 16:38] 1technophile commented on #71
Hello,

The gateway handle beacons detection, are you sure your mac and iphone diffuse a mac adress as beacons without any applications installed for that ?

[2017-07-11 16:40] 1technophile commented on #69
I advise to go at rcswitch library level in your case by trying the examples given with the library and if it doesn't work submit an issue on their github

[2017-07-11 16:45] 1technophile commented on #32
Hello, thanks for the links. I m planning to work on it this month. There is also the gateway from @computourist on which i will take a look at

[2017-07-11 17:16] aferraz commented on #71
Hello,
 I’m not sure but I can see different mac’s in my home and I live outside the city.

Thanks

[2017-07-11 17:53] 1technophile commented on #71
You could try to switch on your iphone or mac and see what's going on

[2017-07-11 18:39] #68 closed

[2017-07-12 10:54] DenDeze commented on #3
This would make a lot of people happy in the Netherlands!!!!! could you please re-open?

[2017-07-12 11:26] DenDeze commented on #26
Dear scargill, since i am a node-red user i know your name from your blog.

1technophile has by far made the best MQTT to RF code for the esp (i use the nodemcu V1).

i just e-mailed the maker of the newremoteswitch code hoping for a reply so that 1technophile could make his project even better.

My old receivers work liek a charm with his code (controlled by node-red).

FOr the self-learning kind

[2017-07-12 16:30] Fuzzillogic commented on #3
Commit https://github.com/1technophile/OpenMQTTGateway/commit/7f5a6da8ccb4fdb5c0043b88fea5bcebfa8a002e fixes the issue: OpenMQTTGateway changed to GPLv3, the library is also GPLv3, so they are really compatible.

[2017-07-12 16:39] 1technophile commented on #3
Yes they are now licence compatible, @Dendeze could you confirm that the library as it is receive your signals and is able to replicate them?

[2017-07-12 17:56] 1technophile commented on #44
@Guglio95 as I don't have answer I close the issue, if you have more details don't hesitate to reopen it

[2017-07-12 17:56] #44 closed

[2017-07-12 17:58] 1technophile commented on #54
@dakky if you have more details don't hesitate to reopen the issue

[2017-07-12 17:58] #54 closed

[2017-07-12 18:20] DenDeze commented on #3
@1technophile at this moment i use IMPULS http://www.voordeelmuis.nl/img/gif/1246/1246690.gif

this module codes are received and i can send them.

[2017-07-12 18:31] 1technophile commented on #3
@DenDeze With the newremoteswitch library on an esp8266 ?

[2017-07-12 18:50] aferraz commented on #71
Hi,
 I make some tests.
iPhone, and iPad also, announces itself to the hm10, also without a specific app installed.
The strange thing is that the MAC address is always different.

[2017-07-12 18:59] DenDeze commented on #3
Sorry, i misread your question. No i was trying today but could not get it to work.

[2017-07-12 19:04] 1technophile commented on #3
@DenDeze do you have an arduino uno or other so as to test it also?

[2017-07-12 19:18] 1technophile commented on #71
Hi,

Could you upload this piece of code to your esp8266 with the hm10 and see what the serial monitor is saying:

[code]

[2017-07-12 19:30] DenDeze commented on #3
If you want i could try to run the scripts on an arduino mega (if it still works). normaly i would only use the nodemcu but if you want feedback i can provide you with it.

Could you push me in the right direction?

Is it possible to have the old RF commands and the new programmable units in the same code?

[2017-07-12 19:41] 1technophile commented on #3
What could be interesting is to load last version of @Fuzzillogic from here:
https://bitbucket.org/fuzzillogic/433mhzforarduino/src/0847a6d8a9173abd5abf9cf571a1539f56588c0e/NewRemoteSwitch/examples/ShowReceivedCode/?at=default
and see if it see your codes with your arduino mega

[2017-07-12 19:55] DenDeze commented on #3
i saw his project today searching for some ways to implement it. i will load the code on the mega and provide you with the feedback. It is possible this will be tomorrow.

[2017-07-12 20:11] aferraz commented on #71
Hi,
 this is the output:
OK+DISISOK+DISC:00000000:00000000000000000000000000000000:0000000000:607626CA1163:-057
1
:00000000:00000000000000000000000000000000:0000000000:607626CA1163:-057
00000000
00000000000000000000000000000000
0000000000
607626CA1163
-057
OK+DISCE
0
OK+DISISOK+DISC:00000000:00000000000000000000000000000000:0000000000:607626CA1163:-040
1
:00000000:00000000000000000000000000000000:

[2017-07-12 20:19] 1technophile commented on #71
everything seems fine, are you sure that you compare it with BLE mac adress and not WIFI mac adress on the devices?

[2017-07-12 20:22] aferraz commented on #71
I compare it with bluetooth and I don't know if is the same for beacon but I imagine yes.
The strange thing is that if I dosable bluetooth in iPhone and re enable it the Mac address is different

[2017-07-12 20:27] 1technophile commented on #71
what is your ios version?

[2017-07-12 20:30] aferraz commented on #71
ios 11 on iphone, ios 10.3 on ipad

[2017-07-12 20:32] DenDeze commented on #3
Addr 19842046 unit 0 on, period: 269us.
Addr 19842046 unit 0 off, period: 269us.
Addr 19842046 unit 1 on, period: 270us.
Addr 19842046 unit 1 off, period: 270us.
Addr 19842046 unit 1 off, period: 270us.
Addr 19842046 unit 2 on, period: 270us.
Addr 19842046 unit 2 off, period: 270us.
Addr 19842046 unit 2 off, period: 271us.
Addr 19842046 group off, period: 270us.

https://www.50five.nl/apa3-1500r-s

[2017-07-12 20:32] 1technophile commented on #71
I think they are using randomization of their BLE mac adress that's why you never see the same adress and also explain why the adress is not the same as your real adress.
This is to avoid tracking of your devices.

[2017-07-12 20:33] 1technophile commented on #3
Great thanks, this is positive to extend the gateway possibilities!

[2017-07-12 20:35] aferraz commented on #71
I think the same thing.

[2017-07-12 20:41] DenDeze commented on #3
@1technophile  thank you for all the time spend in this project. if you can make both protocols to work on the same esp it would be great! (old and new type of hardware).

[2017-07-12 20:48] 1technophile commented on #3
will try, maybe with the help of @Fuzzillogic if he has some time to spend on this

[2017-07-14 10:30] DenDeze commented on #71
Because of security apple does not provide you with the dame UUID over time.

You have tor nu a virtual beacon like this: https://community.estimote.com/hc/en-us/articles/200908836-How-to-turn-my-iPhone-into-a-Virtual-Beacon-

Of write tour OWN app where you can set a fixen UUID.

[2017-07-14 10:33] DenDeze commented on #15
Check out esp-link for esp devices.

The nodemcu Lua firmware can be flashed with a webpage to set settings.

Must be an option on arduino ide

[2017-07-14 10:56] DenDeze commented on #3
@Fuzzillogic it would be grate if you coupe help with this!

[2017-07-14 10:57] DenDeze commented on #3
@1technophile for now iT would be grate if in the rf config you coupe specify old op new library

[2017-07-14 14:22] aferraz commented on #71
This is a problem :-(

[2017-07-14 18:11] 1technophile commented on #71
yes there is several apps available in android and ios store to simulate beacons.
In my side I'm not planning to use my phone for presence detection but a nut attached to my keys and some beacons placed on my vehicles

[2017-07-16 14:07] donnib commented on #69
@1technophile i can see you are using these https://www.leroymerlin.fr/v3/p/produits/lot-de-4-prises-telecommandables-interieure-idk-e1400980485 which looks exactly like mine. Can you reveal what you send to those ? like length, protocol and bits and eventually the code (if you don't want to reveal that then maybe just an example in the same number length) so i can try it out and see if it works o

[2017-07-16 17:38] 1technophile commented on #69
@donnib hello, there is some dip switched to program on these plugs, could you send me a picture of one of them, I can deduct after the corresponding code

[2017-07-17 09:53] DenDeze commented on #69
I had the same, sometimes returning 2 codes. After sending the codes i could filter out the wrong one. Did you tried sending the codes?

[2017-07-17 10:21] 1technophile commented on #69
I mean if you send me a picture of your dip switch position on the plug I can deduct directly your codes by positionning mine with the same position.
I advise to use the tchat room for this kind of issue, it would be more appropriate

[2017-07-17 12:35] donnib commented on #69
@DenDeze i believe i did, i'll have to try again to see if i did something wrong.

[2017-07-17 15:38] DenDeze commented on #69
Can you tell if you used the correct mqtt topic?

When you subscribe to # you subscribe to all the topics on the server. Easy for debugging.

Verstuurd vanaf mijn iPhone

Op 17 jul. 2017 om 14:35 heeft donnib <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@DenDeze<https://github.com/dendeze> i believe i did, i'll have to try again to see if i did something wr

[2017-07-19 07:17] 1technophile commented on #69
@donnib maybe you can close this issue as you succeeding in controling the switch with openmqttgateway

[2017-07-19 07:31] 1technophile commented on #71
@aferraz did you try installing a beacon simulator?

[2017-07-19 08:01] aferraz commented on #71
@1technophile  yes but with no luck. I think iOS is the problem but I don't have an Android device for make some tests.

[2017-07-19 08:14] 1technophile commented on #71
With android it's working, I tested it with this app:
https://play.google.com/store/apps/details?id=net.alea.beaconsimulator&hl=fr

[2017-07-19 08:17] aferraz commented on #71
@1technophile perfetc. At this poin I close this issue. It's clear that this is not a software problem.

[2017-07-19 08:30] 1technophile commented on #71
wiki updated

[2017-07-19 20:39] sukhdeepgill1 opened #74 "Multiple ir emitters"
Can we use multiple ir emitter with openmqtt gateway?

[2017-07-19 20:59] 1technophile commented on #74
You mean send8ng the same signal or different signal ?

[2017-07-19 23:47] sukhdeepgill1 commented on #74
Sending the same signal.
THANKS

[2017-07-20 05:42] 1technophile commented on #74
With the current circuit i have two leds emitters, you can increase the number of led in parallel if you size correctly the transistor and the power supply.

[2017-07-20 07:06] sukhdeepgill1 commented on #74
Thanks a lot.

[2017-07-20 07:06] #74 closed

[2017-07-20 20:54] scargill opened #75 "Byron"
Is there a way to add devices to this - got the ESP8266 version up and running - handles a little 4-button remote control 100% reliably so it is working..

But UTTERLY ignores a ByronSX35 433Mhz doorbell.   I know that the RF433 kit handles this as I have one so it's not as if it is some completely alien format.

Thoughts?

[2017-07-22 06:06] 1technophile commented on #75
Hello, by rf433 kit you mean rflink library ?

[2017-07-22 08:09] scargill commented on #75
I’m sorry – yes I meant the RFLink Library…

From: Florian [mailto:notifications@github.com]
Sent: 22 July 2017 08:06
To: 1technophile/OpenMQTTGateway <OpenMQTTGateway@noreply.github.com>
Cc: Peter Scargill <pete@scargill.org>; Author <author@noreply.github.com>
Subject: Re: [1technophile/OpenMQTTGateway] Byron (#75)

Hello, by rf433 kit you mean rflink library ?

—
You are receiving this because

[2017-07-23 19:35] Fuzzillogic commented on #3
I've switched to z-wave devices. Their two-way communication and encryption makes it more robust. I already had a simple little multi-role home server / htpc, which with a z-wave USB transceiver and Domoticz now gained the extra role of domotica hub. So frankly, I've lost interest in these 433MHz devices.

Also, transmitting using the library should work fine, but receiving and decoding is quite s

[2017-07-23 21:01] 1technophile commented on #75
the options are the following:
-integrate the Byron decoding at rcswitch level (the library used by the gateway to decode & generate RF), for that I suggest to request for an enhancement into [rcswitch repo](https://github.com/sui77/rc-switch).
-integrate into openmqttgateway an open source  library that decode already byron protocol and reproduce it, we didn't find it yet. Nevertheless ther eis m

[2017-07-23 21:02] #26 closed

[2017-07-24 09:43] donnib commented on #69
Yes done.

[2017-07-24 09:43] #69 closed

[2017-07-27 17:18] AKA-47 opened #76 "Advanced 433 SIgnal wrongly triggers Topic"
Hi.
i have a problem with some advanced states which wrongly trigger my openhab.
Example:

My devices have code 15 for ON and 14 for OFF.

home/433toMQTT/protocol 1
home/433toMQTT/bits 24
home/433toMQTT/length 205
home/433toMQTT 15

home/433toMQTT/protocol 1
home/433toMQTT/bits 24
home/433toMQTT/length 205
home/433toMQTT 14

My openhab Item looks like this:

Switch MQTT_Switch_NOPROG1 "Lampe J1" {

[2017-07-27 17:41] AKA-47 commented on #76
hmm... it worked for me like this - not nice but specific enough for me

#define subjectRFtoMQTTADVINFO "home/433toMQTTAdvancedINFO"

        String adv = String(MQTTprotocol) +  "-" + String(MQTTbits) + "-" + String(MQTTvalue);
        client.publish(subjectRFtoMQTTADVINFO,(char *)adv.c_str());

Now i get a publish like this:
home/433toMQTTAdvanced/protocol 1
home/433toMQTTAdvanced/bits 24
home/4

[2017-07-27 18:15] AKA-47 commented on #76
had to do some more modifcations to get the backwards channel advertisment running...

[code]
#ifdef ZgatewayRF

#include <RCSwitch.h> // library for controling Radio frequency switch

RCSwitch mySwitch = RCSwitch();

void setupRF(){

  //RF init parameters
  mySwitch.enableTransmit(RF_EMITTER_PIN);
  mySwitch.setRepeatTransmit(RF_EMITTER_REPEAT);
  mySwitch.enableReceive(RF_RECEIVER_PIN);

}

boo

[2017-07-27 19:14] killermatz opened #77 "Bt is not working on esp8266"
Pin in User_config.h is not correct.

Set it to 12 and 13.

Serial Monitor say "connection hm-10ok" but dont detect any bluetooth device.

[2017-07-27 19:19] 1technophile commented on #77
Hello,
 are you using keyes hm10 ?
You get serial connection ok with which pin ?
What are your hm10 firmware version ?

[2017-07-27 19:22] 1technophile commented on #76
Nice one, i never had this use case. Thanks for pointing this. This will be corrected when i will implement json format payload. I will keep this issue open until that.

[2017-07-27 19:22] killermatz commented on #77
Im using hm10 soft version 549
Serial monitor in arduino ide say connected

Set RX to gpio 12
Set TX to gpio 13

MfG Martin

[2017-07-28 14:52] 1technophile commented on #76
#49

[2017-07-28 14:56] 1technophile commented on #77
hm10 detect bluetooth low energy beacons and not bluetooth devices, did  you tested with beacons or a beacon simulator?

[2017-07-28 15:07] killermatz commented on #77
Did you mean that the hm10 does not detect smartphones???

No i didnt test it with beaconsimulator.

MfG Martin

[2017-07-28 15:24] 1technophile commented on #77
it detect smartphone if your smartphone is compatible with BLE beacons simulation and install a beacon simulator app

[2017-07-31 07:09] 1technophile opened #80 "Make openmqttgateway compatible with happybubbles presence server"

[2017-07-31 19:41] minnesberg commented on #3
Hi.
I am experiencing the exact same issue, meaning that I can receive / send codes to my 433mhz switches using the library "NewRemoteReceiver" the commands that i reviece are similar to what @DenDeze  is describing above.
Addr 22607914 unit 0 on
Addr 22607914 unit 0 off
Meaning it is the same message for all buttons on the remote but then it has additional parameters in unit and state (on / off)

[2017-08-01 06:00] 1technophile commented on #77
Did you advance in your test?

[2017-08-02 05:13] prahjister opened #81 "Sonoff rf bridge"
Any plans to port over to new sonoff rf bridge?

[2017-08-02 21:20] 1technophile commented on #32
First step I have now two rfm69hcw connected to esp8266 communicating ! (not so easy), remains the code which I don't think will be a major issue

[2017-08-05 16:50] 1technophile commented on #81
need to buy the device first, good idea

[2017-08-05 16:51] 1technophile commented on #77
I'm closing this issue as I have no news, please reopen it if necessary

[2017-08-05 16:51] #77 closed

[2017-08-07 13:01] prahjister commented on #81
Email me prahjister0 at the gmail domain and I will see if I can get one sent. I would send the one that I have but it looks like you are in France. I would try to port but it is beyond my skill set. Hardware seems solid on the review sample I have. Do you have the ability to reverse engineer. Looks like 2 chips are working together to make this work?

[2017-08-07 14:52] Trickx opened #83 "Configuration Webserver"
This is a feature request for a webserver to configure the device.
Currently the sources need to be touched for every individual device.
What about a webinterface to store the configuration into EEPROM?

- If WLAN settings are not properly read from EEPROM or invalid change into AP mode.
- Provide IP addresses to connected clients (DHCP) server.
- Announce webservie via mDNS (bonjour).
- Provide w

[2017-08-07 20:56] 1technophile commented on #81
if it is based on esp8266 like the other sonoff it shouldn't be a problem.
I sent you an email.

[2017-08-07 22:31] prahjister commented on #81
I never got the email. prahjister0

[2017-08-10 13:19] consolacion opened #84 "bit confused about setting the protocols"
I am a bit confused on how to send rf messages from Openhab. Your blog says the following:

[code]

However.. what to do if you have two switches with different timings/protocols.

Your github says one has to define the protocol in the topic, like so:

``home/433toMQTT/protocol`,`

but apparently that is only for incoming RF messages.
Then there are the RFprotocolKey and the RFBitsKey. How/when ar

[2017-08-10 14:49] 1technophile commented on #84
hello,

is for receiving 433mhz protocol data.

So as to send 433mhz with special parameters I advise to take a look to the wiki:
https://github.com/1technophile/OpenMQTTGateway/wiki/User-guide-RF#send-data-by-mqtt-with-advanced-rf-parameters.

You call your different switches like that:
`mosquitto:home/commands/PLSL_315/433_4/BITS_25:command:OFF:1049998`
`mosquitto:home/commands/PLSL_315/433_2/BI

[2017-08-10 14:51] consolacion commented on #84
Thanks, I will have a look.
Apologies, I thought this was the place for questions, I have no idea what gitter chat is. Anyway, thanks

[2017-08-10 14:53] 1technophile commented on #84
No problem, you can find the chat there:
https://gitter.im/OpenMQTTGateway/Questions_support

[2017-08-12 13:16] zibous opened #85 "Problem 433toMQTT"
I have a problem with some to use the 433toMQTT, because no MQTT Message will be send.

Serial Monitor Message:
----------------------
WiFi connected
Setup RF Modul TRANSMITTER
Setup RF Modul RECEIVER
Attempting MQTT connection...
connected to broker
subscription OK to the subjects defined

The Sensor BME280 and DTH22 sends MQTT Messages and  works well.

![bildschirmfoto 2017-08-12 um 15 25 18](h

[2017-08-12 20:04] 1technophile commented on #85
I would propose two things :
-try to upload rcswitch examples to an arduino if you have nd check this way the receive nd send functions of the gateway
-could you give what you use in user_config.h as pin definition ?

[2017-08-13 08:38] zibous commented on #85
Hi Florian,
I connected VCC to VUSB or as it is marked on my PCB: VU. A quick verification
learned there is no power on the Vin.

![bildschirmfoto 2017-08-13 um 10 27 10](https://user-images.githubusercontent.com/30198737/29248235-8e708cc0-8013-11e7-9d74-710bd4941578.jpg)

All works no perfect:
``
Receiving RF
isAduplicate
Adv data RFtoMQTT
Sending RFtoMQTT
5471
RF sent by MQTT
Hey I got a callbac

[2017-08-13 23:05] 1technophile commented on #85
Glad to hear, could you close the issue in this case

[2017-08-14 11:29] zibous commented on #85
Thanks for your help.

[2017-08-14 11:29] #85 closed

[2017-08-14 19:28] bachoo786 opened #86 "I cannot find the ino file for MQTT to 433 & 433 to MQTT"
Hi

Can you please help?

I cannot find the ino file for MQTT to 433 & 433 to MQTT?

Thanks.

[2017-08-14 20:18] 1technophile commented on #86
Hi the name is ZgatewayRF

[2017-08-14 20:18] #86 closed

[2017-08-14 20:50] bachoo786 commented on #86
thanks but what pin shall I connect the transmitter and the receiver?

[2017-08-14 20:55] 1technophile commented on #86
did you check the wiki?
https://github.com/1technophile/OpenMQTTGateway/wiki

You should find all in it

[2017-08-14 21:03] bachoo786 commented on #86
I used your old code (please see below). I am only interested in 433 to MQTT and MQTT to 433. Everything works well except for the transmitter. I have connected it to pin D2 on my NodeMCU and the receiver in pin D1, the receiver works fine but the transmitter I can subscribe to the topic and send out commands and receive them but the rf outlet does not turn on :(

Please help?!

Thanks.

[code]

[2017-08-14 22:10] bachoo786 commented on #85
@zibous can you please explain to me how did you download your codes to the nodemcu? which codes? what did you change in the code?

thanks

[2017-08-15 07:44] zibous commented on #85
Hi Florian,

I use the AZDelivery NodeMCU Lua Lolin V3 Module ESP8266 ESP-12E,
without the changing the source code and flashed with ATOM or VisualCode via the serial interface.
I use an iMac and the USB / CH340 Serial Communication Driver for Mac.

In my case i have only change the 5V on the AZDelivery NodeMCU, so I could use all the components.

![81xbvfrz7ul _sl1500_](https://user-images.github

[2017-08-17 21:18] 1technophile commented on #84
Did you succeed with the différent parameters ?

[2017-08-18 04:25] jxjhheric opened #87 "help,I can't control my air conditioner"
great project！ IR receive works fine，i got the raw data，but when i transmit them to the  air conditioner，it failed，sorry about my poor English

thank you for work

[2017-08-18 09:31] consolacion commented on #84
I do appreciate your follow up very much. Alas, a busy travel schedule has prevented me from proceeding at this moment, but I will try and then update you. I do not think there will be a problem, seems I was just confused by an example that might have belonged to an older version.

[2017-08-18 11:19] consolacion commented on #84
I do appreciate your follow up very much. Alas, a busy travel schedule has prevented me from proceeding at this moment, but I will try and then update you. I do not think there will be a problem, seems I was just confused by an example that might have belonged to an older version.

[2017-08-19 06:07] Koepel opened #89 "The Wire.requestFrom() does not need Wire.beginTransmission() or Wire.endTransmission()."
In the file "ZsensorBH1750.ino", the Wire.requestFrom() is encapsulated by Wire.beginTransmission() and Wire.endTransmission(). Those can be removed, since the Wire.beginTransmission() and Wire.endTransmission() should only be used when writing data.

The Wire.requestFrom() does a complete I2C transaction on its own.

If the sensor is not connected or there was a detectable problem on the I2C bus,

[2017-08-19 08:44] 1technophile commented on #89
Hello thanks for submitting this,
@hannesdi, would it be possible to take a look to that please?

[2017-08-19 22:08] 1technophile commented on #3
I got it working with a wemos and DIO chacon remote control, which will enable me to integrate it.
As a first approach it will not possible to run RCswitch receiving and newremoteswitch with the same receiver. Regarding the emitter I didn't tested it yet.

[2017-08-20 05:57] #87 closed, assigned to nobody

[2017-08-20 19:03] 1technophile commented on #71
from HA forum:
https://community.home-assistant.io/t/433mhz-infrared-ir-to-and-from-mqtt-on-esp8266/6779/237?u=1technophile

[2017-08-22 02:07] tegila opened #90 "Query DNS Server before connect"
I've using your code with my homeassistant server to integrate with my 433mhz PIR and door sensors.

But after changing my router 3 times, while searching for a good one, I was left without the integration OpenMQTTGateway provides and have to put back the nodemcu in the computer to write the new IP Address.

After a little research I found some function in the WiFi lib that can fix my problem.

Th

[2017-08-22 13:28] DenDeze commented on #3
@1technophile, maybe it would be possible to just choose Znew Zol 433 in the config? i just tested the lightshow example on an NODEMCU V3 with succes. I only changed pin number to 10 (D2 on the nodemcu). And i removed the dim level part from the example.

[2017-08-22 16:26] 1technophile commented on #3
Yes i will do it like that, i m going to test if we cn keep both for sending.

[2017-08-22 20:04] 1technophile commented on #90
hello,

What I understand is that
`WiFi.hostByName(mqtt_server, remote_addr);`
return the IP adress of the host named mqtt_server.
What is the benefit of checking against IP string?

[2017-08-22 21:12] 1technophile commented on #3
I confirm we can keep both for sending, nevertheless I encounter some stability issue with ESP will see.

[2017-08-23 12:18] DenDeze commented on #3
If you want i can test to...

[2017-08-23 13:24] aferraz commented on #71
Hi @1technophile,
 I try with command AT+SHOW1 but no response from device, I would expect at least OK.
After reconnecting the module to MCU I have the same behavior, a random MAC Address.

Regards
 Alessandro

[2017-08-23 14:32] kiralikbeyin opened #91 "antenna question"
Is it safe to share receiver and transmitter antenna like this :https://tr.aliexpress.com/item/433Mhz-6dbi-OMNI-antenna-SMA-male-19cm-rotatable-2/32506670386.html?spm=a2g10.10010108.1000016.1.3c0375a481gJk0&isOrigTitle=true

[2017-08-23 16:11] 1technophile commented on #91
Nerver tested it, i can't say. If you find something by googling and testing i will be interested by some feedback.
Please better post your questions on the chat (see readme page).

[2017-08-23 19:16] 1technophile commented on #71
Hi @aferraz ,

THanks for the feedback, could you give me the version of hm-10 firmware your are using?

[2017-08-23 19:24] 1technophile opened #92 "Implement HM-11 support"
see below:
https://community.home-assistant.io/t/433mhz-infrared-ir-to-and-from-mqtt-on-esp8266/6779/247?u=1technophile

[2017-08-23 20:13] aferraz commented on #71
HMSoft V545

[2017-08-23 22:06] 1technophile commented on #3
@DenDeze thanks for proposing, I'm interested. I finish the implementation and go back to you.
Currently I have a working gateway for sending MQTTtoRF2 with this kind of command:
`sudo mosquitto_pub -t home/commands/MQTTtoRF2/CODE_8233267/UNIT_0/PERIOD_272 -m 0`

but it is not receiving yet

[2017-08-26 21:09] 1technophile commented on #3
ZgatewayRF2 published, I didn't implement the receiving of code to the gateway (seems to have conflict with other libraries). So as to get the code of your remotes use ShowReceivedCode from the library below
https://github.com/1technophile/NewRemoteSwitch

Once you get the infos publish the parameters with mqtt like that for off:
`sudo mosquitto_pub -t home/commands/MQTTtoRF2/CODE_8233243/UNIT_0/P

[2017-08-26 21:10] #3 closed

[2017-08-26 21:34] #92 closed

[2017-08-26 21:35] #32 closed

[2017-08-26 21:58] PetricaM opened #95 "Analog pin (A0 on Nodemcu) support"
Hi,

Could you add support for connecting analog sensors on the A0 pin on the Nodemcu?

An analog sensor would read the value of the measured variable (luminescence, magnetic field, sound, etc) and publish it to an MQTT topic as a number between 0 and 1023.

This could be published immediately as value changed or/and do a new read after certain number of seconds.

The home automation software woul

[2017-08-31 02:32] kukudemajia opened #96 "User_config.h:200: error: 'D7' was not declared in this scope"
Arduino:1.8.4 (Windows 7), 开发板："ESPresso Lite 1.0, 80 MHz, 115200, 4M (3M SPIFFS), nodemcu, Disabled, None"

E:\OpenMQTTGateway\Arduino\OpenMQTTGateway\OpenMQTTGateway.ino: In function 'int getMin()':

E:\OpenMQTTGateway\Arduino\OpenMQTTGateway\OpenMQTTGateway.ino:288:32: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]

     if (ReceivedSignal[i][1] < minimum)

[2017-08-31 05:27] 1technophile commented on #96
Hello, Some context informations perhaps  ?

[2017-08-31 05:35] kukudemajia commented on #96
I see what's wrong.
line: 180
    #define BT_RX D7 //ESP8266 RX connect HM-10 TX
    #define BT_TX D6 //ESP8266 TX connect HM-10 RX
should be:
    #define BT_RX 13 //ESP8266 D7 RX connect HM-10 TX
    #define BT_TX 12 //ESP8266 D6 TX connect HM-10 RX

[2017-08-31 07:03] #96 closed

[2017-08-31 21:11] 1technophile commented on #96
ok I will modify the default settings

[2017-08-31 23:24] kukudemajia commented on #96
cheer

[2017-09-07 20:38] jxjhheric opened #98 "Will you add hc-sr501 to openmqttgateway"
I want to have a Bluetooth presence detection to work with it.
as long as an add on to the base installation . Thank you

[2017-09-08 10:53] 671792320 opened #99 "Request to add air conditioning remote control support"
Hello, very much like your project. But now with esp8266 to receive air-conditioned signal is not successful, I hope you can see how the matter, my air conditioning is Gree air-conditioning. Thank you.

[2017-09-09 18:17] danielpondruff opened #100 "Xiaomi mi flower sensor"
Hi,

Is it hard to implement this Device and feature in general ?
My idea is to pair the sensor with openmqtt and read out the values from sensor and push it to mqtt.

Here is a example based on python:
https://github.com/marcelrv/miflora

[2017-09-09 22:42] 1technophile commented on #100
Hi,
You mean to implement xiaomi flora reading with hm10  ?

[2017-09-10 02:52] #99 closed

[2017-09-10 06:56] superyarik opened #101 "add ssl support to connect to mqtt broker"
now it can only connect via not secure port, so connection is not secure.

[2017-09-10 08:36] superyarik commented on #101
no, i'm using 0.3.1, and can not connect to ssl port of broker. maybe problem in pubsubclient, maybe there is some settings need to be setted additionally.

[2017-09-10 14:11] danielpondruff commented on #100
Hi,
exactly. is this feature makeable?

[2017-09-10 15:33] 1technophile commented on #101
Coudl you give more inputs, what are the settings you set  ?

[2017-09-10 15:43] 1technophile commented on #100
In theory yes, it s even a good idea

[2017-09-11 06:08] superyarik commented on #101
I use cloudmqtt
https://www.cloudmqtt.com/docs.html

Port 13378 work perfect, but ssl port is notwork, client not connect.

[2017-09-11 21:26] BertrumUK opened #102 "Restarting of Ras Pi causes the last IR command to be resent"
If I reboot my Ras Pi (MQTT Broker) my IR transmitter fires the last command even though there is no MQTT command being sent from the broker. I am running the IR transmitter from a NodeMCU.

I am using the IR to control a digibox and use this to power it up in the morning - a reboot causes the digibox to switch off which isn't very popular with the family.

[2017-09-12 05:42] danielpondruff opened #103 "Esp32"
Hi,

Is esp32 supported so that the use of a hm10 becomes obsolete?

[2017-09-12 05:52] 1technophile commented on #103
Hi,

I didn t tested yet esp32 mainly because it is not enough mature in my point of view :
https://github.com/sui77/rc-switch/issues/133
https://github.com/espressif/arduino-esp32/issues/383

[2017-09-12 05:53] 1technophile commented on #102
Do you have this behaviour even if openmqttgateway is not connected  ?

[2017-09-12 06:21] DenDeze commented on #102
Are you retaining your messages?

Met vriendelijke groet,

Mathias Everaerts
Servicetechnicus
OBSKSW
mathias.everaerts@engie.com
T +31 88 484 95 50
M +31 6 226 357 32

[Logo]<http://engie-services.nl/>

engie-services.nl<http://www.engie-services.nl>

ENGIE Infra & Mobility B.V.
Albert Heijnweg 1, 1507 EH Zaandam
Postbus 113, 1500 EC Zaandam

Spaar het milieu door deze e-mail en de bijlagen niet a

[2017-09-12 08:57] BertrumUK commented on #102
If I monitor the broker (mosquito) when I reboot the NodeMCU there is nothing sent from the broker telling the NodeMCU to fire off the last IR command.

I have been running this for about 3 months and it has always done it. I updated all the code about a month ago without modifying the base code and only updating the settings for classic wiring and wifi etc.

[2017-09-12 09:20] codetalker78 opened #104 "Allow to use multiple IR emitters"
I would like to use this project on an ESP8266 to control multiple IR devices that are located in different corners of my living room.
Is is possible to add two or more IR emitters and to send the IR commands to all of them?

[2017-09-12 15:45] 1technophile commented on #104
Yes you could put several led in parallel, i advise to use the gitter chat for questions, if you search on it you will see some discussions bout that

[2017-09-12 15:45] #104 closed

[2017-09-12 15:51] 1technophile commented on #102
This will retain is only for last will testament of the gateway not for commands

[2017-09-12 17:41] 1technophile commented on #102
here is some info a bout retain flag
http://www.hivemq.com/blog/mqtt-essentials-part-8-retained-messages

and this chapter:
Delete a retained message

[2017-09-12 18:04] 1technophile commented on #90
@tegila could you detail your proposal benefit?

[2017-09-12 18:05] #91 closed

[2017-09-12 18:06] 1technophile commented on #71
I reclose the issue as even we are not getting the name of apple devices

[2017-09-12 18:06] #71 closed

[2017-09-12 18:34] 1technophile commented on #101
ssl seems not supported by pubsubclient:
https://github.com/knolleary/pubsubclient/pull/251

[2017-09-13 06:33] danielpondruff opened #105 "RFtoMQTT sometimes receive invalid value (5471)."
Sometimes when I send a command with my remote control, the gateway does not receive what I expect.
Instead, the code "5471" is received.

I don't suppose this is a reception problem.
Anybody else have the problem?

Hardware:
XD RF 5V
FS1000A
Burning stool 433 mhz Remote Control.

[2017-09-13 07:47] BertrumUK commented on #102
Thank you for that. Maybe I need a way to send the power command then a false command that does nothing. A restart of the broker or NodeMCU would then only send the false command.

Can I keep this issue open a while longer in case someone comes up with a better solution?

[2017-09-13 08:22] superyarik commented on #101
yep, another clients(mqtt dashboards for android) work well.

look like this is another part of joke that "S" in "IoT" is Security :)

[2017-09-13 13:59] gammelobst commented on #102
have you already tried sending a empty message with the retained flag set to your conflicting topic?
I never had this  with OpenMQTTGateway and FHEM, but i do not set the retained flag while sending sth. from FHEM to the broker.
I had only retained messages with the old name after renaming the gateway, but sending an empty message with retained flag let them go away.
What home automation controlle

[2017-09-13 14:22] BertrumUK commented on #102
I use Home Assistant on a Raspeberry Pi. The Pi is running mosquito as the broker. The retain flag is set to “false” on the code running on the NodeMCU and the command on Home Assistant.

I am running a 433mhz transmitter and a DHT22 temp/humidity sensor from the same NodeMCU.

If I reboot the Pi or the NodeMCU the last IR command is resent but the 433mhz rf signal does not this is what I don’t un

[2017-09-13 17:30] 1technophile commented on #102
the retain flag parameter in the user_config.h is not for commands. It is for last will testament (online/offline detection of the gateway)

Try sending an empty message to the problematic topic or maybe modify your topic as an ultimate solution

[2017-09-15 15:39] BertrumUK commented on #102
Its not very elegant but I have incorporated a fake IR command to be sent when the power to my digibox turns on. If the broker or the NodeMCU are restarted the fake command gets resent but there is no action taken by the digibox. As I said it's not elegant but it gets around the issue that I am having with the MQTT Switch component of Home Assistant.

Closing this issue. Thanks for all that helped

[2017-09-15 15:39] #102 closed

[2017-09-16 13:35] 1technophile commented on #105
Hello,

Could you try with receive example from RCSwitch library and see if you reproduce?

[2017-09-16 13:36] 1technophile commented on #103
I close this question, if you have others don't hesitate to ask with the gitter chat on readme page

[2017-09-18 11:28] danielpondruff opened #110 "How to use BLE Tracker with Home Assistant?"
I'm currently not quite as clear as I am integrating the BLE Tracker into Home assistant.
Can someone help me?

The HM10 works and detected devices are also pushed into MQTT

[2017-09-19 09:52] yzg011 commented on #110
this is also my question

[2017-09-19 09:53] yzg011 opened #111 "how to config BT tacker in homeassistant？"

[2017-09-19 09:57] yzg011 commented on #80
it is good idear，i also need this

[2017-09-19 19:09] 1technophile opened #112 "MQTT disconnect after a certain time with HM10"
I have an issue on the NodeMCU boards I have: on both v0.4 and 0.3 bluetooth module (non-genuine HM10) and (occasionally) RF receiver (superheterodyne type) the MQTT connection gets reset. This does not trigger full reboot of NodeMCU but only disconnects the MQTT connection and reconnects and it takes a few seconds (3 - 4 at max) to reconnect.

I wouldn’t have observed this if not for the board be

[2017-09-19 19:09] 1technophile commented on #111
duplicate of #110

[2017-09-19 19:09] #111 closed

[2017-09-19 19:16] 1technophile commented on #110
@petricaM do you think you could write a wiki page about this as you integrated it to your home automation ?

[2017-09-19 19:58] BertrumUK commented on #112
Not exactly similar to #102 but with older code I used to get a similar issue with the last MQTT IR command being sent after approx 2 days since the last reboot of the NodeMCU. I updated to your newer code, which added the classic wiring option, and it seems to have stopped. I do however still have the last IR command being sent on a reboot of the NodeMCU or the PI.

[2017-09-20 01:45] prahjister commented on #81
Did they ship it and you receive it?

[2017-09-20 05:48] 1technophile commented on #81
Not received it yet

[2017-09-20 07:30] PetricaM commented on #110
Yes, off course. Although I wouldn't know were to begin the wiki page :) as I haven't written one before.

I think I could post the entire configuration of HA after some housecleaning (only to remove personal information; I'm not a software engineer, thus the code itself for the sensors&scripts&automation could be quite clumsy but it works). I managed to integrate a relatively large number of diff

[2017-09-20 11:56] PetricaM commented on #110
Until I have time to place it all together:

Simple usage (to see it in the frontend) would involve setting only of a MQTT sensor (A). The issue is, however, that the sensor would show unknown value if not updated or the beacon is associated (thus the need for B). C came into being as a need to take into account the movement of the BT beacon from/towards the Gateway (meaning that when strength of

[2017-09-20 18:59] 1technophile commented on #110
@PetricaM this is already great, thanks

[2017-09-20 19:01] 1technophile commented on #110
It's here:
https://github.com/1technophile/OpenMQTTGateway/wiki/Home-assistant-integration
you can modify it as you wish

[2017-09-20 19:47] PetricaM commented on #110
Hi,

I have also modified the formula for real feel with the sensors mentioned by BertrumUK on the same page (I haven’t modified his code as it’s not my initial contribution).

In Bruh latest sketch he used the real feel computation on the NodeMCU code however it wasn’t really nice because (1) his formula was for F not C as he has a portion of code where it mentions to make the modification for te

[2017-09-22 07:08] larsenglund commented on #3
@minnesberg I can confirm that ZgatewayRF2 works with Nexa switches and dimmers

[2017-09-22 12:09] PetricaM commented on #112
I received a (I think) genuine HM10 and there is no issue with this one (24h and counting) while with the clone the issues appeared almost immediately.
I think it's safe to say that the problems are in regard of the clones.

[2017-09-22 12:13] PetricaM commented on #112
@BertrumUK
If you used the switch for the IR with the Retain flag is normal to have the NodeMCU sending the code each time it reboots (or the MQTT broker).

[2017-09-22 19:58] 1technophile commented on #110
as the wiki is now completed I close this issue

[2017-09-22 19:58] #110 closed

[2017-09-23 19:55] 1technophile opened #116 "Add INA226 sensor"

[2017-09-24 01:40] jjlawren opened #117 "How to determine state of multiple RF devices?"
Unless I’m using things incorrectly, it appears that all RF devices share the same MQTT state topic. Ideally the payload could be retained so actual switch states could be preserved if this device was restarted.

[2017-09-24 09:48] gammelobst commented on #117
This sounds like a job for your HA-Controller and not the gateway. MQTT just transports the message, configure the state in HA-Controller and let it change if a  new command is recieved. There is no need to Retain the payload, but it could be resend on restart of the gateway...

[2017-09-24 15:15] jjlawren commented on #117
Restart of the HA software is also a concern. If state is held by the MQTT broker, retaining per-device state would reflect the true state as RF devices can’t be polled.

[2017-09-24 16:22] animavitis opened #118 "OpenMQTTGateway dont need RF2 to work with KAKU"
Hi,

There is simple way to use KAKU (transmit & recive) in OpenMQTTGateway, simply change rc-switch liblaryto this branch:

https://github.com/max-weller/rc-switch/tree/intertechno-receive

Tested with my KAKU switches & NodeMCU

[2017-09-24 16:30] nikki-reprap opened #119 "configuration for domoticz ?"
Hi please can someone tell me how to configure the mqtt for domoticz

Thanks Nikki

[2017-09-24 19:04] 1technophile commented on #118
Hello,

Thanks for the tip!
@dendeze could you test if it is working with your devices?

[2017-09-25 02:52] yzg011 opened #120 "add support for irremoteESP8266 version 2.2.0 library"
构建选项已变更，全部重新构建
C:\Users\Administrator\Desktop\RasWxMusicbox-master\OpenMQTTGateway\ZgatewayIR.ino: In function 'boolean IRtoMQTT()':

ZgatewayIR:66: error: 'USECPERTICK' was not declared in this scope

       rawCode = rawCode + (results.rawbuf[i] * USECPERTICK);

                                                ^

exit status 1
'USECPERTICK' was not declared in this scope

[2017-09-25 05:58] 1technophile commented on #120
Please be more detailled, which version of the gateway which version of irremote esp8266 ?
In all the case you should use the libraries linked into the libraries directory.

[2017-09-25 05:59] 1technophile commented on #119
I didn t heard about a user having done that, i would be happy to help you if you have questions

[2017-09-25 09:43] yzg011 commented on #120
the last new version of gateway，irremote esp8266 version 2.1.1 ok
irremote esp8266 version 2.2.0 not work。

[2017-09-25 09:50] yzg011 opened #121 "gateway not support mDNS for mqtt"

[2017-09-25 10:09] animavitis commented on #118
after more testing i must tell that this version of rc-switch is not stable :/
After couple of hours my nodeMCU throws some exceptions & restart itself randomly, but still it can be used to read codes from KAKU remote.

[2017-09-25 14:20] BertrumUK commented on #112
@PetricaM Ok. It is less of a problem now as I issues a fake IR command if I need to restart the broker or NodeMCU. This command is fired but does nothing.

[2017-09-25 17:02] gammelobst commented on #117
U could use you HA Controller to set a corresponding retained topic like home/switches/coffemachine/state to "on" or "off" just like the state changes.
OpenMQTTGateway is just for sending and recieving, but not for storing states, which would require some kind of array to store the corresponding codes to on and off states. Sounds like wasting memory, adding not really needed complexity because you

[2017-09-25 17:06] gammelobst commented on #120
you have to copy the supplied library to your system arduino lib folder.
I got the same error when using another than the supplied version, but after copying IRRemoteESP8266 to the lib folder it compiles and work like a charm.
cya

[2017-09-26 18:34] 1technophile commented on #120
@gammelobst are you able to compile with the last version of Irremote_esp8266?

[2017-09-26 18:40] 1technophile commented on #118
do you have some inputs about these instabilities?
is the nodemcu that restart or do you have other symptons?

[2017-09-26 18:53] 1technophile commented on #117
I think @jjlawren is more thinking about retaining the state at broker level?
Ho w do you see the link between the two states of one wall plug that has two different RF codes?

[2017-09-26 18:55] 1technophile commented on #112
hello @PetricaM after 4 days have you seen the issue?

[2017-09-26 19:03] jjlawren commented on #117
That's correct. Neither the OpenMQTTGateway device nor the HA software should try to retain the state of the RF devices when MQTT itself provides a mechanism via retaining. However, a unique topic which publishes the current state would be needed for each controlled RF device.

If you're familiar with Sonoff-Tasmota, they have an overview of their MQTT design here which allows for this type of set

[2017-09-26 20:25] gammelobst commented on #117
ok, but the Sonoff are wireless switching relays, i think. It is no problem for a switch to send his state to the broker as it switches itself and can detect it's state. OpenMQTTGateway is a gateway as the name states and does not know if the command has switched anything. And it doesn't know which switch and state is corresponding to a decimal code(at least not without modifing). The best thing i

[2017-09-27 05:59] 1technophile commented on #117
I think current implementation of rcswitch and irremote library indeed doesn't enable to do that easily at the broker level. As said due to the fact that the couple gateway/broker doesn't know that the code A will send an ON command for a device 1 and a code B will send an OFF command to the device 1.

[2017-09-27 06:01] PetricaM commented on #112
Hi,

I haven't seen it with the original HM10, however I'm away since Saturday. I'll have another look at the MQTT log during this weekend.

Thanks

[2017-09-27 15:27] gammelobst commented on #117
But if we implement a relay that is switched with an output pin - for this it would be an easy thing to do.
Or if the gateway senses the state via an INA226 it would also be easy.

[2017-09-27 15:34] gammelobst commented on #120
i can compile with the here mentioned and linked lib.
But if i update to the latest version via lib-manager than i get the same error.

[2017-09-27 16:12] 1technophile commented on #117
I agree for sensors it is relevant

[2017-09-27 16:16] 1technophile commented on #120
Ok thanks for the feedback i will include the last version on v0.5

[2017-09-27 16:24] 1technophile commented on #90
As i haven t feedback i close this issue, reopen it if you need

[2017-09-27 16:25] 1technophile commented on #84
Hello, some news about this issue ?

[2017-09-27 16:29] tegila commented on #90
Hi @1technophile,

Sorry for missing the feedback (i had muted my notifications from github)

So, yes that is exactly what this function does, it get the ip from the dns name.

The benefit come from the fact that when I change my router, or reset, or anything that can change my realm of IP's from the router. I didn't need to get my OpenMQTTGateway device and reprogram it with the new IP address.

[2017-09-28 11:58] animavitis commented on #118
NodeMCU restart itself randomly, usually when i try to use RF transmitter couple of times in short period of time. I will try to debug it

[2017-09-28 16:48] xstrex commented on #100
+1

[2017-09-28 20:58] #95 closed

[2017-09-29 06:07] 1technophile commented on #112
I m going to bring some code modifications for hm10 to try if we can remove this bug by giving more time to the wifi stack of the esp8266

[2017-09-30 12:20] 1technophile commented on #112
@PetricaM @jxjhheric @BertrumUK could you test the last version to see if it corrects your issue

[2017-09-30 12:43] BertrumUK commented on #112
I now know that the retain flag is causing my issue - confirm that the last IR & RF command gets resent. Not a problem with the RF as there are distinct “on” & “off” commands whereas the IR just toggles the same command.

Will try the new update when I get time 👍

[2017-09-30 12:45] 1technophile commented on #112
ok maybe some misunderstanding I think you had also the issue with reboot when HM10 is connected, the correction I made is not related to the retain flag but it is for HM10 causing reboot :-(

[2017-09-30 12:47] BertrumUK commented on #112
Ok, thought so. As I have said previously, now I know what the cause is I have a way around it. Thanks.

[2017-10-02 05:02] animavitis commented on #118
I was testing it and same restart can happens on NewRemoteSwitch & rc-switch#intertechno-receive.
I dont know how to debug root cause of restarts, so we can close this issue.

thx for help

[2017-10-02 05:53] animavitis commented on #20
i have https://github.com/animavitis/mqtt-gateway for ESP8266.
Its based on this great project, but is developed in platformIO IDE & homie, so for sure its possible :)

[2017-10-03 04:54] animavitis commented on #15
https://github.com/marvinroger/homie-esp8266 have nice GUI to setup wifi/mqtt or custom paramters. Maybe migrate to homie-esp8266?

[2017-10-03 05:48] 1technophile commented on #15
Indeed but i never checked the arduino compatibility do you have some infos about it  ?

[2017-10-03 13:49] animavitis commented on #15
nope, but i will try to check it

[2017-10-03 17:49] MrPasty commented on #117
being able to query the state of a device would be very useful, not sure how you could achieve this by not using MQTT ?

[2017-10-03 18:00] 1technophile commented on #117
we could do this with the sensors or with rfm69 but not possible with off the shelf cheap 433mhz sensors

[2017-10-03 19:00] jjlawren commented on #117
That's kinda my point, though. It's a best effort attempt at persisting the state. Both the HA controller _and_ OpenMQTTGateway can rely on MQTT to restore the last known state if a reboot or disconnection at either end occurs.

[2017-10-04 04:07] 1technophile commented on #81
Received  !

[2017-10-04 04:09] prahjister commented on #81
Awesome. Maybe you can improve latency over other firmware that I'm using.
Also still getting duplicates.

On Oct 4, 2017 12:07 AM, "Florian" <notifications@github.com> wrote:

[2017-10-05 18:35] 1technophile commented on #119
Did you succeeded in integrating with domoticz ?

[2017-10-05 20:42] #120 closed

[2017-10-06 06:41] 1technophile commented on #89
@HannesDi do you have some thoughts on this

[2017-10-06 09:58] 1technophile opened #129 "When using ZgatewayRF with ZsensorADC MQTT disconnect"
If you use only ZgatewayRF and ZsensorADC MQTT disconnect regularly

[2017-10-06 10:10] 1technophile opened #130 "ZgatewayRF and ZgatewayRF2 doesn't work together for receiving"
With the following setup:
Only RF gateways
NODEMCU V1.0
Arduino 1.8.3
Boards ESP8266 2.3.0
OpenMQTTGateway V0.4
Default pinout

ZgatewayRF receives 433Mhz if ZgatewayRF2  is commented
ZgatewayRF2  receives 433Mhz if ZgatewayRF is commented

[2017-10-06 10:13] 1technophile commented on #130
@larsenglund are you using both gateways for receiving?

[2017-10-06 14:47] 1technophile commented on #100
Currently trying to make talk the HM10 with the miflora, not so easy. Some ressources about that:
http://www.martyncurrey.com/hm-10-bluetooth-4ble-modules/
https://forum.arduino.cc/index.php?topic=406280.0
I will continue to investigate

[2017-10-06 14:52] 1technophile commented on #84
I'm closing the issue don't hesitate to reopen it if you need

[2017-10-06 14:52] #84 closed

[2017-10-06 19:07] nikki-reprap commented on #119
No not yet I have setup  Home Assistant  to test the hardware first

[2017-10-06 21:08] larsenglund commented on #130
Nope, I think you would have to implement support for that yourself (simultaneous receiving of both protocols).

[2017-10-07 06:50] 1technophile commented on #130
Thanks for the clarification!

[2017-10-08 20:01] 8666 commented on #101
I think that SSL is possible on ESP but not on the Arduino (there are libraries). Arduino UNO does not have memory for whole SSL magic (https://github.com/256dpi/arduino-mqtt)

[2017-10-09 19:17] 1technophile opened #131 "Implement HDMI CEC <-> MQTT"
so as to interface HDMI CEC compatible devices (TV, disc reader...)

https://code.google.com/archive/p/cec-arduino/

[2017-10-09 19:19] 1technophile commented on #101
thanks for the link

[2017-10-09 19:59] #118 closed

[2017-10-13 01:47] prahjister commented on #81
How goes it?

[2017-10-13 19:44] 1technophile commented on #98
It is already available into the master branch

[2017-10-13 20:56] #98 closed

[2017-10-14 02:16] 1technophile commented on #81
I didn't put my hands on it still

[2017-10-14 12:47] 1technophile commented on #100
Thanks to Martin Currey advice, by updating the firmware to V601 I now have access to a new command "AT+DISA?" which returns hex values and identify the mi flora by its name.
It is progressing!

[2017-10-15 20:58] bkenobi opened #132 "New protocol help"
I have protocols defined for 3 devices that I would like to provide with the hopes it could be included. I'm not sure how to add these to rcswitch or else I'd add them myself and provide the code.  The devices are sensors that transmit to a base station on 433MHz, so inclusion should be ease.  The devices are an Acurite weatherstation, an Acurite temperature sensor, and a Blueline power monitor.

[2017-10-16 07:49] danielpondruff commented on #100
Sounds great !
Can i help you with testing ?

[2017-10-16 18:22] 1technophile commented on #132
You could publish your codes so as to enable me to take a look and see if it could be integrated

[2017-10-19 11:13] jxjhheric commented on #80
Hi ,any plan to get it done?

[2017-10-19 18:32] 1technophile commented on #80
If you want to make it in top of the list please vote for it with the thumbs up on the issue description

[2017-10-20 03:17] bkenobi opened #133 "GatewayRFM69 setup"
This seems like a silly question, but I am trying to perform my first compile of the code.  For starters, I downloaded the whole package as well as the individual libraries.  I extracted all libraries into the OpenMQTTGateway/libraries path.  It appears that in Arduino 1.8.5 the libraries must be in the install path and not in the sketch path.

I've read through the wiki and don't see any guidance

[2017-10-20 04:33] 1technophile commented on #133
No you are not, i reproduce it, i will publish a correction. By the time you can move the time_avoid_duplicate declaration from config_rf.h to user_config.h.

[2017-10-20 10:48] lademeister opened #134 "RF only receives when serial console is used (ESP8266)"
I am using OpenMQTTGateway 0.4.
Great work btw!
When receiving RF Signals (using RXB-8 Superheterodyne) I only receive Signals when the ESP8266 is connected to my Laptop AND serial console in Arduino IDE is opened. When closing the serial console IR and DHT still work but RF receive immediately stops receiving (or stops publishing to home/433toMQTT).
DHT and IR still publish.
As soon as I open ser

[2017-10-20 10:51] BertrumUK commented on #134
Not sure if this will help but I finally got around to getting my 433 to mqtt working yesterday in Home Assistant. Here is my code if it help

alias: "MQTT RF 3 On"
  initial_state: True
  hide_entity: False
  trigger:
    platform: mqtt
    topic: home/433toMQTT
    payload: 5578557
  action:
    service: homeassistant.turn_on
    entity_id: switch.fireplace

[2017-10-20 10:54] BertrumUK commented on #134
Sorry about the spacing. Will upload the code tomorrow my site

https://github.com/BertrumUK/home-assistant

[2017-10-20 11:02] BertrumUK commented on #134
What do you see when monitoring MQTT messages when disconnected from the laptop and serial monitor is removed? Anything via home/433toMQTT ?

[2017-10-20 11:04] lademeister commented on #134
Actually it's an issue only referring to the OpenMQTTGateway software itself, has nothing to do with implementation in home automation (I am using openHAB and that part works).
Basically my problem is that the ESP8266 on which I am running OpenMQTTGateway 0.4 stops publishing received RF signals in the corresponding MQTT topic as soon as I close serial console on Arduino IDE.
Everything else still

[2017-10-20 11:07] lademeister commented on #134
Nothing is being published to home/433toMQTT as soon as I close the console. But DHT temperature and humidity and as well received IR commands are still being published.
When I open the serial console it starts working again (repeatable)

[2017-10-20 11:19] BertrumUK commented on #134
Yes strange, Are you running the latest versions ? OpenMQTTGateway.ino should be pulling the 433toMQTT code and sending it to the broker. Is there a chance that any of your code is has "//" before it on the 433toMQTT side so is not being sent to the broker ?

[2017-10-20 11:57] lademeister commented on #134
No - because it starts sending when I open the serial debug console in Arduono IDE - if O had commented out anything by accident it would not publish at all...

[2017-10-20 16:47] 1technophile commented on #134
Hello,

To which pin your receiver is connected ? Could you try another pin and change it into config_rf.h

[2017-10-20 19:05] 1technophile commented on #133
master branch updated, please install it and close the issue if ok for you

[2017-10-20 23:51] lademeister commented on #134
Hello 1technophiIe!

To be precise I am using a Wemos D1 Mini Board (ESP8266).

Currently RF Receiver is on pin D3, while DHT22-Sensor is on pin D5. IR is not connected (but configured) because it gave an compilation error that said something about IR when commenting the lines
  #define ZgatewayIR
  #include "config_IR.h"
to
// #define ZgatewayIR
//  #include "config_IR.h"
in User_config.h so I le

[2017-10-21 01:13] 1technophile commented on #134
Are you sure of the ppwer supply voltage of your board ?

[2017-10-21 07:36] lademeister commented on #134
The board can be powered by USB and it has a power regulator so it provides 5V and 3,3V from that 5V USB.
I tried 1A and also 2A power source (but I think that the laptop provides only 500mA on USB ports and there it works.

[2017-10-21 08:50] 1technophile commented on #134
You re rx and tx pins are they connected to something ?

[2017-10-21 11:34] lademeister commented on #134
Today I tested if the RX pin for RF SEND causes the problem and changed it to another pin, but that does not change anything.
What I found - and that's even more strange - is that if I use a different Wemos D1 mini board (original Wemos, the other one is a quality rebuilt with 32MB flash) it behaves a little different: RF receive works as soon as the board is being powered by my laptops USB port -

[2017-10-21 12:04] lademeister commented on #134
Found it. I added pinmode input for the receiver pins because I couldn't get it to work at first. This caused the problem. Sorry for the confusion.

[2017-10-21 12:53] 1technophile commented on #134
ok no problem

[2017-10-22 07:07] 1technophile commented on #100
Hello, yes it will help. I can confirm now that it is feasible. I need to rewrite the program to process hexa instead of ascii. I hope to publish something next week

[2017-10-23 05:27] #134 closed

[2017-10-23 05:32] lademeister commented on #134
Works perfectly. I am using it with openHAB. Great piece of software!

[2017-10-23 16:50] 1technophile commented on #121
https://github.com/mrdunk/esp8266_mdns

[2017-10-25 21:14] bkenobi commented on #133
I downloaded and compiled.  All is ok.

That said, I'm still not clear on what configuration I should be using.  I read through the wiki and know what the hardware config should be.  I'm just not sure what needs changing in the User_config.h(or other files) to get the correct setup.  I want to use ESP8266 (Wemos D1) + RFM69 to receive 433MHz and then broadcast on MQTT.  I see in the hardware compa

[2017-10-25 21:20] 1technophile commented on #133
If compile is ok you now have to define your rfm69 parameters in config_RFM69.h

PS:I suppose that as you want to use RFM69 you have other RFM69 module available for sending and receiving data?

[2017-10-25 22:37] bkenobi commented on #133
Sorry, I don't think I explained clearly.

I want to use the ESP8266 with RF to receive from 433MHz sensors (weather station, power meter, etc).  I want to use the RFM69 due to superior range.  I am not planning on using multiple OpenMQTTGateways to communicate with each other.  I think if I used a simple 433MHz receiver, I'd configure with ZgatewayRF and ZgatewayRF2 only.  But, in order to use RF

[2017-10-26 06:07] 1technophile commented on #133
"Maybe I should start off by just installing a 433MHz receiver"
Yes you should start with 433mhz receiver and emitter like STX882 & SRX882.
Rfm69 is integrated in a way that it can talk only to other rfm69.
ZgatewayRF is compatible with this list of devices :
https://docs.google.com/spreadsheets/d/1DdtVtSsN25nwP6BZI5q6C9yDGz37tUWjw2SQ1RGwBxU/edit#gid=0

[2017-10-26 06:24] bkenobi commented on #133
I understand that weather station protocols are not currently incorporated. I know the protocol and how to decode it, so I'm hoping inclusion won't be a problem.

If RFM69 is only included for gateway-to-gateway communication, is there any was to make it work as a standard receiver? It's range is supposed to be far superior over other rf modules. I know it can be done as I have an example for use

[2017-10-26 10:18] 1technophile commented on #133
Yes there is a way by using another library instead of the current one. But this needs some research.

[2017-10-26 22:49] 1technophile commented on #100
It's been a long work but here is a beta integration of mi flora, note that:
* so as to enable mi flora reading you must comment ZgatewayBT_stable into config_BT.h
* you need at least v601 of hm10 firmware

[2017-10-27 11:08] flangeslag commented on #133
Hi, I'm getting a compiling error too:

Arduino: 1.8.5 (Windows Store 1.8.10.0) (Windows 10), Board:"Generic ESP8266 Module, 80 MHz, 40MHz, DIO, 115200, 512K (64K SPIFFS), ck, Disabled, None"

C:\Users\Fred_2\Documents\Arduino\OpenMQTTGateway\OpenMQTTGateway.ino: In function 'void setup()':

OpenMQTTGateway:138: error: 'SERIAL_BAUD' was not declared in this scope

     Serial.begin(SERIAL_BAUD, SE

[2017-10-27 12:13] 1technophile commented on #133
Hi,

you are trying to set up the RFM69 gateway?

[2017-10-27 12:18] flangeslag commented on #133
Hi, thank you for the fast response, and Yes, I think it's officially
called "openmqttgateway", I'm trying to set up the "RF" part.

Op 27 okt. 2017 2:13 p.m. schreef "Florian" <notifications@github.com>:

[2017-10-27 12:21] 1technophile commented on #133
Ok this issue is related to rfm69. You should better use ZgatewayRF. If you have questions , support needs please go to the gitter tchat on the readme page.

[2017-10-27 12:24] flangeslag commented on #133
If you have to setup an environment like mine, don't bother you can use,
mine.
Regards
Fred

Op 27 okt. 2017 2:13 p.m. schreef "Florian" <notifications@github.com>:

[2017-10-27 13:13] 1technophile commented on #133
Sorry i don't understand

[2017-10-27 13:19] flangeslag commented on #133
Hi , what is it you don't understand, my request on " openMqttGateway" or
using my environment?

Op 27 okt. 2017 3:13 p.m. schreef "Florian" <notifications@github.com>:

[2017-10-27 23:39] cosmocracy opened #135 "Add ability to view log output via TELNET"
This issue covers the work to integrate JoaoLopesF's excellent [ESP8266-RemoteDebug-Telnet](https://github.com/JoaoLopesF/ESP8266-RemoteDebug-Telnet) library/facility into the gateway.  This would allow for headless debugging/troubleshooting as diagnostic logging could be viewed remotely by a simple Telnet connection to the gateway.

Given the security implications of making internals available ex

[2017-10-27 23:39] cosmocracy commented on #135
I would be interesting in contributing to this issue and have forked the repository.

[2017-10-28 01:55] cosmocracy commented on #135
The `trc(String msg)` method looks like a natural place to intercept trace logging and send it to  RemoteDebug.

[2017-10-28 07:42] 1technophile commented on #135
Hello, feel free to submit a pull request, it can be interesting indeed, maintenance could be done without wire with that.  Thanks for the idea.

[2017-11-01 18:20] 1technophile commented on #133
@bkenobi could we close this issue as it seems a little bit confusing with these different posts. If you want to include code for weather station you can open another issue with this specific need or submit a pull request

[2017-11-01 18:21] 1technophile commented on #132
@bkenobi some news about that

[2017-11-02 06:14] flangeslag commented on #133
Sure we can close this issue
Fred

Op 1 nov. 2017 7:20 p.m. schreef "Florian" <notifications@github.com>:

@bkenobi <https://github.com/bkenobi> could we close this issue as it seems
a little bit confusing with these different posts. If you want to include
code for weather station you can open another issue with this specific need
or submit a pull request

—
You are receiving this because you comm

[2017-11-02 08:49] Landrash commented on #132
@1technophile From @bkenobi 's github https://github.com/bkenobi/ookDecoder

[2017-11-02 16:41] cosmocracy commented on #83
Definitely a use case for integrating [WiFiManager](https://github.com/tzapu/WiFiManager)

[2017-11-02 17:00] glasruit opened #136 "Add repeat for IR_PANASONIC"
My Panasonic TV needs 3 IR repeats to switch on. I managed to do so by altering some lines of your code.

In `config_IR.h` line 43 add:
`#define PanasonicBits         48U        // Panasonic nr of bits (Pre data)`

In `ZgatewayIR.ino` change line 250 from
`irsend.sendPanasonic(PanasonicAddress, data);`
into
`irsend.sendPanasonic(PanasonicAddress, data, PanasonicBits, valueRPT);`

MQTT command to s

[2017-11-02 18:11] glasruit commented on #136
My Panasonic tv needs 3 IR repeats to switch on. I managed to do so by altering a few lines of your code.

In config_IR.h line 43 add:
`#define PanasonicBits         48U        // Panasonic nr of bits (Pre data)`

In ZgatewayIR.ino line 250 change
`irsend.sendPanasonic(PanasonicAddress, data);`
into
`irsend.sendPanasonic(PanasonicAddress, data, PanasonicBits, valueRPT);`

TV on with:
`mosquitto_pu

[2017-11-02 19:36] #133 closed

[2017-11-02 19:37] 1technophile commented on #136
Ok i will add it

[2017-11-02 21:20] #136 closed

[2017-11-02 21:21] 1technophile commented on #132
thx

[2017-11-03 06:15] #116 closed

[2017-11-03 06:17] 1technophile commented on #100
Hello, does someone tested this beta integration ?

[2017-11-03 06:22] danielpondruff commented on #100
Hi Florian,

Give me one or two weeks to test your implementation .

Greetings
Daniel

Am 03.11.2017 7:17 vorm. schrieb "Florian" <notifications@github.com>:

[2017-11-03 12:40] glasruit commented on #136
Sorry for not being clear at the first instance. Only TV-on needs 3 IR repeats. All other IR commands are single IR actions. Please delete line 251 in  `ZgatewayIR.ino`
`if (valueRPT == 0) valueRPT = 2;`

By the way, thank you for al your code.

[2017-11-05 05:01] sumitrajancse opened #137 "help wanted IR sensor"
I am making an IR sensor with ESP8266 to work with hassio.
Following is my code from the configuration.yaml file
`switch:
  - platform: mqtt
    name: "Fan On/Off"
    state_topic: "home/IRtoMQTT"
    command_topic: "home/commands/IR_Raw"
    payload_on: "ON"
    payload_off: "OFF"
    optimistic: false
    retain: true`

I upload the code to the nodeMCU as per the description.
No parameters were

[2017-11-05 07:05] 1technophile commented on #137
Hello what is the brand of your device ?

[2017-11-05 12:16] sumitrajancse commented on #137
Its a normal IR fan.. brand Lasko

[2017-11-05 16:01] 1technophile commented on #137
take a look to that after some googling:
https://github.com/z3t0/Arduino-IRremote/issues/528

[2017-11-06 18:47] 1technophile commented on #100
Some explanations of what has been done to integrate this:
https://1technophile.blogspot.fr/2017/11/mi-flora-integration-to-openmqttgateway.html

[2017-11-06 20:06] 1technophile commented on #137
for questions I advise to go to the tchat more than submitting an issue. Please post your investigations there:
https://gitter.im/OpenMQTTGateway/Questions_support

[2017-11-06 20:06] #137 closed

[2017-11-11 06:49] marci144 opened #138 "Does't work without the serial attached"
It has to be a very stupid problem ....

I use the gateway for the RF433 and everything works ..... as long I keep the serial monitor open or a PUTTY on the COM port. If they are disconnected the gateway stops working.

So I have a bit of a problem deploying in the final location.

I tried to disable TRACE, I have only the message from writeln on the console, but I'm in the same situation... No co

[2017-11-11 06:54] 1technophile commented on #138
Hello,

Try to connect receiver to d2 (gpio 4) instead of d3 and change the pin in config_rf

[2017-11-11 07:12] marci144 commented on #138
Problem solved ! Many tks
GPIO0 is always peculiar!
tks again
Marcello

[2017-11-11 09:20] 1technophile commented on #138
Great , could you try to connect it to rx pin and say me if it works ?

[2017-11-11 12:00] marci144 commented on #138
I'm back!

tried on GPIO3 RX and it doesn't work at all. Even with the serial console on nothing happen
BR
Marcello

[2017-11-11 12:00] #138 closed

[2017-11-11 12:01] marci144 commented on #138
gpio3 RX doesn't work at all !
Marcello

[2017-11-11 12:05] 1technophile commented on #138
thx for the feedback

[2017-11-11 12:36] #89 closed

[2017-11-11 12:40] 1technophile commented on #112
@PetricaM hello, could you test the new version of ZgatewayBT to see if it reboot ?

* you must comment ZgatewayBT_stable into config_BT.h
* you need at least v601 of hm10 firmware

[2017-11-11 12:50] 1technophile opened #139 "Integrate a wifi sniffer"
example below:
https://github.com/andreaslink-de/WiFi-Sniffer-as-a-Human-detector-usable-with-OpenHAB

Integrate a sniffer as a new ZgatewayWIFI.ino that scans the wifi devices available and publish their mac adresses and RSSI by MQTTT

[2017-11-16 22:06] 1technophile commented on #81
Begining to look at sonoff rf,
there is already some interesting work about it especialy:
http://tinkerman.cat/hacking-sonoff-rf-bridge-433/

At this time I'm able to receive RF with a mixed code between tinkerman one and mine (mainly tinkerman ;-)).

[2017-11-16 22:25] prahjister commented on #81
Great. I'm using https://github.com/arendst/Sonoff-Tasmota

Latency and still getting duplicates. I think the way he is stopping duplicates is fooled when it missintepretes one of the duplicate transmission. I haven't looked into it much

[2017-11-17 09:38] yzg011 commented on #121
https://github.com/mertenats/Open-Home-Automation/tree/master/ha_mqtt_light_with_WiFiManager_mDNS_and_OTA
for your referrence！ thank you

[2017-11-17 09:40] yzg011 commented on #121
very import for me ，to look for the IP address and the port of the local MQTT broker automation

[2017-11-17 21:25] 1technophile commented on #81
You should take a look at @xoseperez code he is well removing the duplicates code (key RF_RECEIVE_DELAY)
http://tinkerman.cat/hacking-sonoff-rf-bridge-433/

[2017-11-19 18:42] PetricaM commented on #112
Hi Florian,

I've tested the sketch with the latest settings (HM-10 v.603 and BT stable commented for mi flora) however it still keeps resetting the MQTT connection. I've setup statistic sensors in HA to track MQTT topic for each NodeMCU and for the new sketch with BT gateway only there are still 3-4 MQTT connection restarts per day (the NodeMCU does not restarts). With BT Gateway and RF Gateway t

[2017-11-20 01:03] 8666 commented on #131
This is easily done with Rasperry Pi as the hdmi card support it. Other way is to use hdmi-usb adapter. Do not see the point for including hdmi here.

[2017-11-20 01:09] 8666 commented on #117
The broker will retain the topic depending on the way it is published. Then it will resend the states when.the HA subscribe. I use the lwt topic to monitor the status of this gateway, but when I restart the HA software I do not get the mesaage when resubscribe. I don't think it is wise to have this logic for any other topic.

[2017-11-20 01:12] 8666 commented on #40
I have a mod that has led for sending, receiving and disconnected from mqtt broker

[2017-11-20 01:12] jxjhheric opened #140 "how to get 315 amd 433mhz working together with one OpenMQTTGateway？"
is it possible？

[2017-11-20 10:26] Landrash commented on #40
@1technophile If there's room for it in the memory using a WS2812 for different states would be nice.
The http://fastled.io/ library is rather good.

[2017-11-20 20:14] 1technophile commented on #140
I will try first to connect both emitter data pins together. Regarding receiver i think you will have to duplicate the gateway  and connect each receiver to different pins;  produve several instance of myswitch depending on the pin. Do you feel confident on doing that or do you want some draft sketch ?

[2017-11-20 20:20] 1technophile commented on #40
@8666 it could be interesting to submit a pull request with this mod
@Landrash didnt know this driver, interesting, maybe you could open an issue as an enhancement diffenrenciated from this one. As this one was more for gateway state and the ws2812 seems more for fairy lights

[2017-11-20 20:22] 1technophile commented on #117
When you restart HA you don't get the gateway state ?

[2017-11-20 20:31] 1technophile commented on #131
Everybody doesn't have necessarily a pi connected to the tv.
In term of architectire the point is to let to microcontrollers low level functions like this kind of communications.
This way you don't mess up with binding/addons/plugins in your controller hardware and just to have it connected to mqtt and put the configuration files
But as the others requests it will be prioritized following users vo

[2017-11-20 20:39] 8666 commented on #131
Sniffing might be easy but for sending commands you need to emulate full HDMI device. I have some experience with libcec library. You actually need to make something like this but with mqtt/lan not with USB: https://www.pulse-eight.com/p/104/usb-hdmi-cec-adapter#

[2017-11-20 20:43] 1technophile commented on #131
Thanks for the info

[2017-11-20 22:25] 8666 commented on #117
Hmmm with mqtt-spy I get the status. With HA it does not reload. Then it is not related to the RF gateway..will fix my problem later

[2017-11-20 22:57] jxjhheric commented on #140
If there is some draft sketches, that is the best!

[2017-11-21 14:59] Landrash opened #141 "Support for RGB LED"
Suggest support for RGB LED by the use of the http://fastled.io/ library.

Suggest integration with #40 for use as a status led.

[2017-11-22 07:01] 1technophile commented on #112
Hello @petricam

Thanks for this feedback. Regarding your questions.
1. What kind of board do you have for my information ?

2. I have to do some test and indeed i could implement a strictly identical raw forwarding. Could you open a different issue for that ?

3. So as to have regular readings you have to increase the value of TimeBetweenReadingADC into config_adc to the time needed in ms.
Moreov

[2017-11-22 13:17] PetricaM opened #142 "Add IR raw signal forward"
Hi,

Could you add the option to forward the exact IR raw payload?

For IR devices using protocols with very large protocol length (ie. 112 bits) the payload is incompletely read (412 char although the total full raw message is 942 char).

Thanks

[2017-11-22 13:34] PetricaM commented on #112
Hi Florian,

I've added a request for IR raw forward.

I'm using several different setups:
- Arduino Mega and Ethernet Shield for RF Gateway only (running a very old version of OpenMQTT, I think 0.3 or even older :) );
- NodeMCU v3 (at least that's what they are saying but there isn't an official v3 iteration) with DHT22 and LDR sensor (ADC) in each room; for two of these units I've also placed an

[2017-11-23 20:41] rvdvoort commented on #100
I tried the code for the mi-flora integration and it seems to work. Unfortunately the gateway is also reporting the BLE adresses of all other devices closeby. Is it possible to only read the data of a specific mi flora by specifying the BLE mac-adress (and interval between 2 polls).

[2017-11-23 22:37] 1technophile commented on #100
Hello,

You can specify the interval by changing TimeBtw_Read into config_BT.h.
The other mac adresses are published for people presence detection.
Maybe the filter of mac adresses should be placed on the home controller , what do you think ?

[2017-11-24 21:56] 1technophile commented on #81
done based on Xose Pérez work ESPURNA

[2017-11-24 21:58] 1technophile commented on #81
Sending RF
`sudo mosquitto_pub -t home/commands/MQTTtoSRFB -m 1314884`

Receiving RF
[code]

[2017-11-24 21:58] #81 closed

[2017-11-24 22:29] 1technophile commented on #100
@rvdvoort I close the issue to release the new version.
Don't hesitate to give your answer to the gitter tchat room

[2017-11-24 22:29] #100 closed

[2017-11-25 17:00] 1technophile commented on #117
At this time I prefer not putting on gateway level a storage of signals values apart from duplicate removal

[2017-11-25 17:00] #117 closed

[2017-11-25 17:02] 1technophile commented on #119
If you succeed in integrating with Domoticz please let me know, I'm going to close this issue as I don't have infos to give you on that

[2017-11-25 17:02] #119 closed

[2017-11-25 17:14] prasad7676 opened #144 "IR Send Error"
Arduino: 1.8.3 (Mac OS X), Board: "WeMos D1 R2 & mini, 80 MHz, 921600, 4M (3M SPIFFS)"

/Users/prasad/Documents/Arduino/libraries/OpenMQTTGateway/ZgatewayIR.ino: In function 'void MQTTtoIR(char*, char*)':
ZgatewayIR:136: error: 'class IRsend' has no member named 'sendGC'
       irsend.sendGC(GC, j);
              ^
ZgatewayIR:188: error: 'class IRsend' has no member named 'sendCOOLIX'
     irsend.

[2017-11-25 17:19] 1technophile commented on #144
Could you give us the following details as asked in the submitting template:
* OpenMQTTGateway version used (V0.4, 0.3, master...)
* For IR and RF clarify if you tested with the basic examples given with these libraries
* You should not have a compilation error if you use the versions of the libraries linked into the libraries folder, this badges show you the state of the compilation
[![Build Stat

[2017-11-25 17:31] prasad7676 commented on #144
thanks man for quick reply,

yes you was right has a libraries issue.

FIXED....thanks a lot

[2017-11-25 17:39] #144 closed

[2017-11-25 20:11] 1technophile commented on #105
@danielpondruff did you try with basic rcswitch examples ?

[2017-12-01 01:57] yzg011 commented on #121
thanks very much！

[2017-12-02 10:18] 1technophile commented on #142
Hi, Could you test it from the master please (you need to put RawDirectForward true in config_IR.h)

[2017-12-02 16:09] PetricaM commented on #142
Hi Florian,

I've tried it and the IR payload is still 412 long. I think this is due to the buffer size on the NodeMCU for receiving as for both serial and MQTT connection the message has the same size, so it's not due to length of MQTT payload. Only receiving is affected as sending raw IR works with the full message length.

Thanks

[2017-12-02 17:31] 1technophile commented on #142
Could you try to increase RAWBUF in irrecv.h ?

[2017-12-02 18:06] PetricaM commented on #142
Yes, that worked (I've set it to 300U).

Thanks

[2017-12-02 18:40] 1technophile commented on #142
In this is case, is direct raw signal forward usefull or it can works also by mqtt signal forward (repeatIRwMQTT )

[2017-12-02 19:21] PetricaM commented on #142
The initial problem was the message length.

It's perfectly fine to use MQTT payload to forward it to another device in HA.

[2017-12-02 19:27] 1technophile commented on #142
Ok i will let the direct raw forwarding if someone need it

[2017-12-02 19:27] #142 closed

[2017-12-02 20:48] 1technophile commented on #103
ESP32 IDE is now enough mature to begin the work

[2017-12-02 20:50] 1technophile commented on #103
see https://github.com/1technophile/OpenMQTTGateway/pull/145

[2017-12-02 20:50] #103 closed

[2017-12-03 16:19] jeremyowens opened #146 "NodeMCU/ESP8266 DHT Sensor Documentation Issue"
The documentation (wiki) for the NodeMCU/ESP8266 DHT Sensor has conflicting information.  The documentation originally said to connect the DHT sensor to pin D5, however the code in config_dht.h is defined as pin D1.

Either the config_dht.h file needs to be updated to reference pin D5, or the picture in the wiki needs to be replaced with a picture that shows the wiring diagram connecting to pin D1

[2017-12-03 19:26] 1technophile commented on #146
thanks for pointing this. It is corrected.

Please note that the orginal fritzing files are on the img folder

[2017-12-03 19:26] #146 closed

[2017-12-03 22:33] 8666 commented on #40
I made pull request but I have this "The Travis CI build failed"
https://github.com/8666/OpenMQTTGateway

[2017-12-05 07:49] jxjhheric commented on #80
Do This Help?https://github.com/RiRomain/Happy_Bubble_ESP32_Node/

[2017-12-07 20:32] 1technophile commented on #140
Add a file called ZgatewayRF315 with the content below

[code]

And a file called config_RF315.h with the content below (change the pin definitions according your 315mhz device wiring:
[code]

Add the call to these functions into OpenMQTTGateway.ino
Into the setup function
[code]
Into the loop function
[code]

And finally add the ZgatewayRF315 activation into user_config.h below ZgatewayRF
[code]

[2017-12-07 20:32] #140 closed

[2017-12-07 21:51] 1technophile commented on #105
Please reopen the issue if needed

[2017-12-07 21:51] #105 closed

[2017-12-08 00:51] jxjhheric commented on #140
@1technophile  thanks

[2017-12-08 10:58] jordanChalet opened #148 "OpenMQTTGateway control KAKU with RFM69"
Hi, what a great work !
It has easily allowed me to build a gateway between [cloudMqtt](https://www.cloudmqtt.com) (modifications in OpenMqttGateway.ino are needed for me, should I post them ?) and DIO switches (newKaku protocol).
My next step is to replace the analog receiver and the analog transmitter by the RF69M.

But I saw in the wiki that ZgatewayRF2 and ZgatewayRFM69 are not compatible. Doe

[2017-12-09 14:57] 1technophile commented on #148
Hello Jordan,

What is the kind of modifications you have done?

I don't think someone already used newremoteswitch (zgatewayRF2) library with RFM69, you will need to do some research to do this.

Here is some inspiration for OOK but I don't know if we can transpose it to newremoteswitch:
https://github.com/kobuki/RFM69OOK

[2017-12-23 16:18] 1technophile commented on #81
@prahjister Hello, finally did you get it working with OpenMQTTGateway?

[2018-01-05 15:00] MACscr commented on #81
I actually have espurna installed, but i dont think it can work as a receiver that way. Seems like it couldnt do both receiver and send. Only send after its learned. Im looking for something that can do both. At least receive since my broadlink can already do the sending part. I need the receive so that I can actually use RF remotes with it. Also, the RF Bridge is esp8265, not 66 afaik.

[2018-01-05 17:14] PetricaM commented on #80
Hi Florian,

With a bunch of BLE gateways I managed to play along with Happy Bubbles server.

From what I could make of https://www.happybubbles.tech/presence/docs/mqtt/ there are three types of messages that can be processed by the server.

For iBeacon messages (which seemed the easier :) ), the server looks in topic happy-bubbles/ble/<the-hostname>/ibeacon/<the-iBeacon-UUID> and the payload woul

[2018-01-05 17:32] 1technophile commented on #81
OpenMQTTGateway will do the job you are requesting on the platform you want (sonoff rf bridge, ESP8266, arduino, ESP32)

[2018-01-06 08:43] #121 closed

[2018-01-06 08:43] #90 closed

[2018-01-06 17:56] 1technophile commented on #135
@cosmocracy, maybe a simpler way, what do you think if we publish the debug messages on a special mqtt topic  ?

[2018-01-07 13:32] 1technophile commented on #80
Hello @PetricaM ,

Thanks for your investigations, the ESP32 BLE library enable to retrieve TX power, I added the function to the master (and also manufacturerdata retrieving).
Nevertheless with my NUT and mi flora the BLE library doesn't publish TX power... don't know why
You can test my last commit if you want.

With HM10 I didn't found a way to get tx power.

[2018-01-07 13:34] 1technophile commented on #148
I'm going to close this issue, if you have news don't hesitate to reopen it or chat me on gitter

[2018-01-07 13:34] #148 closed

[2018-01-10 16:45] NeoMatrixJR commented on #140
I followed the above...changed the e/r pins a bit, but now I'm running into an issue where RX on 315 comes across as 433toMQTT in topics and issuing commands to 315 via MQTT isn't working either trying to TX.  I'm thinking this may have something to do with mySwitch and mySwitch315 in the zgateways are = RCSwitch(); and are not instances so they're overlapping somehow?  has anyone else experienced

[2018-01-10 23:44] scotthernandez opened #155 "Change/Support Building with PlatformIO"
I, and I'm sure many others , don't use the arduino IDE (regularly, or at all) so it would be good to have a command-line only build process. It would also allow people to completely script the build process for those that don't want to, or need easier instructions, to get started.

Also, I expect switching to platformio will enable more option for CI and other integrations, but I'm no expert ther

[2018-01-10 23:47] scotthernandez commented on #135
Yep, mqtt logging seems like a better idea since it is already a requirement, libraries are included, and won't require any more server resources or knowledge from the user (if they need help subscribing to the topic the wiki can include simple directions).

[2018-01-11 00:07] scotthernandez opened #156 "Publish features (via MQTT) for discovery"
It would be nice if each device published information about its capabilities, and the topics for each, so that clients can automate discovery; for example, home-assistant could have a simple option in the config file that creates the appropriate sensor/ui based on discovery of the device (and one topic).

For example (after changing to json messages with simplified topics):
**topic**: `"home/" + G

[2018-01-11 18:18] NeoMatrixJR commented on #140
@1technophile - Do the emitters have to remain on the same pin?  Won't that generate unnecessary transmissions on the opposite other frequency for every command?

[2018-01-11 18:36] 1technophile commented on #140
@NeoMatrixJR nop It is better to have them on separate pin, same things for the receivers

[2018-01-11 19:21] scotthernandez commented on #156
TL;DR; -- Maybe, probably but not sure that homie should be implemented/supported, and json should be used instead.

Homie seems to be much more and also requires changing values in addition to defining metadata about the device/features and would seems to be much more work than just exposing metadata about the device. Also, it seems to create topics for each individual  (metadata) value, and does

[2018-01-11 19:30] 1technophile commented on #156
As you, I see the implementation of json as an opportunity to have auto discovery for controllers.
Nevertheless there is several ways to do auto discovery and Homie could be one.
But at final I don't know yet which way is the better one...
At least we miss a sort of convention/naming/syntax... around MQTT for interactions between nodes/gateway and controllers

[2018-01-11 19:35] 1technophile opened #157 "SONOFF RF Bridge as a receiver is not sending the same values compared to ESP/arduino"
from test of @macscr on gitter

[2018-01-11 20:02] scotthernandez commented on #156
I'd vote for json as it can be used independent of transport (http/mqtt/etc), it can be schema-validated and is easier to document/describe.

Yes, more than one can be supported ... but device memory is limited, as well as human resources for implementation, maintenance, configuration and support (testing including).

I'd suggest linked this to the json work, and not as a duplicate of homie.

[2018-01-11 20:03] NeoMatrixJR commented on #140
@1technophile - I put everything on separate pins (see previous comment...sorry I didn't tag you on it).  There seems to be an issue where all RX gets reported via 433toMQTT even if it's 315, and 315 tx doesn't seem to work.  I'm wondering if there's an issue that RCSwitch isn't running 2 instances and understanding that there's 2 sets of pins?

[2018-01-11 20:20] 1technophile commented on #156
I think as a first step we could add json and when there is consensus on a syntax/taxonomy on MQTT we go for it.
By schema validated you are thinking on something in particular?

[2018-01-11 20:46] 1technophile commented on #156
@scotthernandez if I do the work on OpenMQTTGateway would you be interested to do the corresponding config for Home Assistant?

[2018-01-11 20:47] 1technophile opened #158 "Correct Sonoff RF Bridge processing for long codes when receiving"
on some case when having too long code the value is truncated

[2018-01-11 20:48] #158 closed

[2018-01-11 21:17] scotthernandez commented on #156
Yep

On Jan 11, 2018 3:46 PM, "Florian" <notifications@github.com> wrote:

[2018-01-12 15:16] rolfberkenbosch opened #159 "ZgatewayBT:78: error: 'class BLEAdvertisedDevice' has no member named 'haveServiceData'"
I get an errror with by ESP32 with BLE support when i verify the code in arduino. How can I fix this ?

Documents\Arduino\OpenMQTTGateway\ZgatewayBT.ino: In member function 'virtual void MyAdvertisedDeviceCallbacks::onResult(BLEAdvertisedDevice)':

ZgatewayBT:78: error: 'class BLEAdvertisedDevice' has no member named 'haveServiceData'

             if (advertisedDevice.haveServiceData()){

[2018-01-12 19:48] jumpalottahigh commented on #65
That's awesome! If you do make a prototype I'd totally love to order a few.

[2018-01-12 21:30] 1technophile commented on #157
reproduced with Tasmota:
https://github.com/arendst/Sonoff-Tasmota/issues/1095

[2018-01-14 13:49] broekema commented on #155
Alternatively a Makefile based build and install method could be an option. I've been playing with that for ESP8266, based on [this](https://github.com/plerup/makeEspArduino) work. Apart from some weirdness with code ordering (Arduino allows code to be used before it is declared, while C and C++ require forward declaration in such cases) it seems to be a viable alternative. If there is interest, I

[2018-01-15 04:31] posicat commented on #141
I've got a couple spools of these LEDs laying around.  One of my projects upcoming is to put a bunch of them under my kitchen cabinets.  I had intended to use an ATTiny and Raspberry Pi, but I don't see why this couldn't be built in as a feature to OpenMQTTGateway.  I've used the Adafruit libraries before, and one from Josh.com that's super-memory efficient.  On a project like this, it might be us

[2018-01-15 04:55] posicat commented on #141
This is the other library I would investigate, if the fastled doesn't use too much memory, that sounds like a good candidate, this one however I run on ATTiny85's without memory problems, so it's nice and tiny.

https://wp.josh.com/2014/05/13/ws2812-neopixels-are-not-so-finicky-once-you-get-to-know-them/#more-1681

[2018-01-15 15:51] posicat commented on #65
I got my gateway working with IR last night, so now that I have a working circuit I can start moving that onto a PCB design.  It's not going to be a 2-day project, because it's going to take me a little bit to get all the hardware to test how things work.

[2018-01-16 08:42] HannesDi commented on #65
I was ill for a long Time... Its fine to see that some other also planning do a PCB :-)

i can now slowly start again with doing some stuff.

Time will show when i can show up my release

[2018-01-16 14:25] 8666 commented on #131
There is an elegant solution for this, NodeRed on the Pi with HDMI CEC module. Then you can publish them on MQTT.

https://www.npmjs.com/package/node-red-contrib-cec

[2018-01-18 15:48] posicat commented on #49
I just got my IR detection working, and saw that I get 4 MQTT messages back for each time I press the button.  I would definitely prefer to get the data back as one JSON message with fields for each of the parameters.  My main concerns is that I want to have multiple IR gateways, and if 2 devices report at the same time it's harder to determine which go together.

[2018-01-18 15:57] posicat opened #160 "Gateways should have unique-name paths as well for sending commands"
* OpenMQTTGateway version master

I have 2 gateways, creatively named OMG_001 and OMG_002, but when I send an IR broadcast command I send it to home/commands/IR_GC which both modules receive.  That's fine, but it would be great to have a way to send directly to a specific device like /home/OMG_001/commands/IR_GC to send the message to just one of the devices.  This would help in the case where a h

[2018-01-18 15:59] posicat commented on #65
Feel free to look over my shoulder on the EasyEDA project I'm working on.  I've built PCBs before but I just do it as a hobby, any advice, especially on missing resistors/capacitors/etc would be great.

[2018-01-19 00:01] 1technophile commented on #15
duplicate of #83

[2018-01-19 00:01] #15 closed

[2018-01-19 18:33] betonishard opened #162 "RCswitch receive 433mhz not working on pin 13"
Hello,

First of all thank you for your effort. This is great.

I am building a gateway which I will use for a single mqtt hub. However I have a problem with RF reception. I am using a MH-ET D1 esp32. Here is the link for the board.
http://mh.nodebb.com/assets/uploads/files/1497417590890-1111.jpg?v=hfe2ofo3e00

I tried setting it up on TCK pin (GPIO13) and commented everything in the code. So only

[2018-01-20 00:47] posicat commented on #160
Just a quick note, it occurred to me that you don't need the global-address since MQTT handles that nicely.  if all the devices have their names in the path /home/OMG_001/commands/IR_GC  you can address all of them as : /home/+/commands/IR_GC.  That might save a tiny bit of ram not having to register both formats.

Once I get a bit more familiar with the code layout I want to jump in and help code

[2018-01-20 22:06] bandric1 commented on #162
Im Experiencing same issue ESP32 DevkitV1 on D13 doesnt work the RF 433 reader.

[2018-01-20 22:40] 1technophile commented on #162
Yes my doit esp32 board supply 5v, maybe not the case for all boards

[2018-01-20 22:57] scotthernandez commented on #155
How open are we to switching away from using the arduino ide for building? I will work on the reorg needed for platformio and files needed if serious about using it from the main contributors.

[2018-01-20 23:13] 1technophile commented on #155
Is it possible to switch and let also the support for arduino ide = keep ino files

[2018-01-20 23:30] bandric1 commented on #162
It is strange made it fire twice or three times than it stoped.

[2018-01-20 23:41] scotthernandez commented on #155
Yes, I believe so, that would be my first suggested step. But I think the
files at least need to move into src dir and deps will be managed by pio
instead of linked into git. I'm not sure if that will allow arduino to
build anymore since I'm not familiar with it.

On Jan 20, 2018 6:13 PM, "Florian" <notifications@github.com> wrote:

[2018-01-21 06:05] betonishard commented on #162
Thank you for your reply.

I didn't mention it in my first post, but I have a level converter between the data pin of the receiver and the ESP. So pin gpio 13 is connected to for example LV1, and the receiver on HV1. I am supplying the receiver with 5v from a 5v powersupply.

Any suggestions?

Thank you for your reply.

Best regards,

[2018-01-21 15:48] broekema opened #163 "IR schematics are wrong"
There are two issues with both IR hardware schematics:

1. the NPN transistor is the wrong way around, connecting the collector to ground and emitter to Vcc instead of the other way around. The current setup is incorrect, but may emit low current from base to emitter (so your setup may at short range).

2. a current limiting resistor should be added between Vcc and the positive pin of the LED. Oth

[2018-01-21 16:08] broekema commented on #160
This really needs to be propagated through the entire code. I've done this in my private repository by replacing the home/ occurrences in the code with something like this:

`#define TEMPBMEC MQTT_ROOT Gateway_Name  "/bme/tempc"
#define TEMPBMEF MQTT_ROOT Gateway_Name  "/bme/tempf"
#define HUMBME   MQTT_ROOT Gateway_Name  "/bme/hum"
#define PRESSBME MQTT_ROOT Gateway_Name  "/bme/pa"
#define ALTIBM

[2018-01-21 20:18] betonishard commented on #162
EDIT 2: Maybe someone has another pin in use and could share what pin is the second best solution after pin 13..?
Thanks in advance.
Best regards.

[2018-01-21 23:04] bandric1 commented on #162
i have tried all the other remaining pins addressing to them still didnt work. IR module is working normally to me looks like RF code is somehow not compatible with my version of esp32. I dont know how it fires for three times and displayed the code in mqtt but it did and i cant replicate the event no matter what i do.

[2018-01-22 19:11] betonishard commented on #162
@bandric1 sorry to hear that.. Maybe @1technophile has an idea to try? I am out of options...

[2018-01-22 20:32] 1technophile opened #164 "String handling improvment"
Following this discussion improve string handling on the projects
https://github.com/1technophile/OpenMQTTGateway/pull/154

And multiply trc functions with different signature to avoid use of string into trc argument

[2018-01-22 20:37] 1technophile commented on #159
I close the issue, reopen it if you need

[2018-01-22 20:37] #159 closed

[2018-01-22 20:51] 1technophile commented on #162
Did you took the last version of ESP32 arduino?
You can also try to power a LED+ resistor (or only a resistor) on the pin used to power up your receiver and measure the voltage with a multimeter.

I tried these pins on my DOIT ESP32 board:
13 OK
27 OK
26 KO
25 KO
33 KO

If not working I suggest to try with another ESP32 board.

[2018-01-22 21:28] betonishard commented on #162
Hi, thank you for reply.

I don't understand why i should use a led or resistor. If I measure just with multimeter the power on my receiver and see 5 volt wouldn't it be enough? Could you clarify please?

Thanks

[2018-01-23 06:24] 1technophile commented on #162
It could be that the voltage drop down when a charge is plugged to the power supply, that s why i ask to add a resistor.
Here is the link for arduino esp32 repo :
https://github.com/espressif/arduino-esp32

[2018-01-23 08:44] bukurat commented on #155
A number of the libraries are already set up for PlatformIO. Look for a PlatformIO.ini file in the root directory.
PlatformIO will compile .ino files so it is possible to build on either platform. PlatformIO doesn’t create function prototypes like the Arduino IDE so prototypes are needed. I have started setting up my fork of the program for PlatformIO.

[2018-01-23 10:42] broekema commented on #164
Thinking about this, we could probably generalize the publishing of messages into a global function or method used by all other code. In this function we can then differentiate between Uno and ESP targets, but only once and at a well defined central location.

[2018-01-23 11:33] joen commented on #141
I would like to add fastled support. Is anybody working on this already?

[2018-01-23 11:59] Hedda opened #165 "[FEATURE REQUEST] Support decoder and parser for IKEA Sparsnas electricity meter?"
Would it be possible to add this decoder for IKEA Sparsnäs (Ikea Sparnas electricity meter)?

There is already an existing project that does this with ESP8266 & RFM69 but nothing more:

https://github.com/bphermansson/EspSparsnasGateway

Some more information and links are posted here which I copy below:

http://www.letscontrolit.com/forum/viewtopic.php?f=10&t=3726

+1 request for IKEA Sparsnäs (I

[2018-01-23 19:02] posicat commented on #65
I started a project for IR only modules based on ESP-01 boards.  It's s starting point for a larger board based on the ESP-12F.  I ordered 10 of the boards, and enough components to build all 10.  Eventually I hope to offer this as a kit to people (more likely the ESP-12F version which will have RF, I2C and more) but feel free dance on the bleeding edge and order some of these for yourself if you

[2018-01-23 19:09] posicat commented on #141
I had idly considered it, but I have plenty of work with the PCB project, and my own-home code that this all hooks into to get to adding LED support at this time.  I haven't seen anyone else mention taking this on, and my post revived a topic that had been idle 2 months, so it's probably safe.  Feel free to poke at me for any testing/help.  I've got plenty of WS2812's at home to try it with.

[2018-01-23 19:13] 1technophile commented on #141
@joen I don't think so, in my point of view you can go

[2018-01-23 19:14] 1technophile commented on #164
Great idea !

[2018-01-23 19:16] posicat commented on #164
This is where a JSON library could come in handy, might want to evaluate that and this topic together as one change.

[2018-01-23 21:34] 1technophile commented on #164
Good point @posicat, we might first try to include json publishing before or in the same time of  that

[2018-01-23 21:41] 1technophile commented on #65
@posicat regarding the ESP12F version what do you think about building a first with RF and I2C, and building the others with the "shield" principle, this would look like:

- Base gateway with RF and I2C light, temp, humidity

- IR gateway shield

- RFM69 gateway shield

Please note that I'm not sure we should use D3 for the RF receiver pin as I have many feedback pointing that it is working only w

[2018-01-23 21:49] posicat commented on #65
I think we can fit a lot of the parts onto one board, the design I was working on so far has IR, RF, and I2C and plenty of pins for a DHT22 and a light sensor.  I don't see anything wrong with the shield idea, other than it increases cost to add on more functionality.  It's not much more work to design 2 boards, one all-in-one and another that will take shields (Arduino-sized or something specific

[2018-01-23 21:52] 1technophile commented on #65
The goal is to adjust the needs to the user, but ones will say to just not solder or add the components related to the gateway he doesn't want.
 Just an idea

[2018-01-23 21:57] 1technophile commented on #65
Please keep in mind that future gateways could come later, I'm thinking to LORA for example

[2018-01-23 22:14] posicat commented on #65
Right, there will always be new technologies to add to a project like this, and there will always be too few pins to connect all of them.  ESP chips are absurdly cheap, I could see a series of boards that had as many connections as possible on each.  One board I already put together for myself is just IR and I2C (in theory at least, not tested yet) another board could be RF, IR, Temp/Humidity, and

[2018-01-23 22:34] joen commented on #141
[first tests](https://github.com/joen/OpenMQTTGateway) with just one LED

[2018-01-24 12:45] scotthernandez commented on #155
Great, I'll hold off on working on this unless you want help.

[2018-01-24 22:37] bukurat commented on #155
The [tasmota](https://github.com/arendst/Sonoff-Tasmota/) project builds with either PlatformIO or the Arduino IDE, although he does recommend  separate Arduino IDE be set up for it.

My fork of this one is [here](https://github.com/bukurat/OpenMQTTGateway)  Scott, if you want to  help track down some compile errors.

[2018-01-25 06:25] NDR008 commented on #130
Can to RX units be installed in such a way to keep RF2 and RF functionality or...?

[2018-01-25 14:40] Hedda commented on #165
To reverse this suggestion;  here is code projects to instead send a signal to Sparnas wireless display:

https://github.com/MagnusThome/sparsnas-esp8266-01

https://github.com/MagnusThome/sparnas-raspberry

[2018-01-25 22:54] posicat commented on #65
What are people's priorities for a PCB, what modules do you want to have access, and which ESP board are you going to use?  #1 below I'm building for sure, #2 is still open for input on what people need.

1) ESP-01
- Based on an ESP-01 board
- 5V power, 3.3V regulator
- IR transceiver
- I2C (a board I need at home, but others might want as well.)

2) ESP-12F : (current design, what are your prefer

[2018-01-25 23:02] posicat commented on #165
I did some research over lunch on how the IKEA Sparnas works. It reads an LED on the power-meter that blinks every time a specific number of watt hours are used.

It would be far cheaper to build in functionality to OpenMQTTGateway that could read the LED pulses than to worry about interfacing to the Sparnas. I hope to try experimenting with my own meter this weekend.  However for people who alrea

[2018-01-27 11:58] #83 closed

[2018-01-28 06:39] posicat opened #166 "Port-setup section in User_config.h"
Having to go to each individual .h file to configure ports is a bit inconvenient, I was wondering perhaps moving them to User_config.h might be possible.  That way every configuration for a specific module I might have would reside in one file, including the #defines that turn that module on.

A couple benefits of this:
1) I could make multiple config files, and editing one line of OpenMQTTGateway

[2018-01-28 06:54] posicat commented on #65
I received my PCBs yesterday and got around to soldering them this evening, I can confirm the circuit design on the ESP-01 board works properly : https://easyeda.com/posicat/OMG_ESP_01_PCB-445e573315b543108581500a4d4974be

*** Warning *** I used VERY small surface mount components to keep the design small, you must have a steady hand and a good soldering tool to build these boards.

You can order

[2018-01-28 07:54] 1technophile commented on #65
Nice to see that there is improvment on the hardware!
In my side I'm more interested in ESP12F with at least (if you have enough pins...)

- 5V power, 3.3V regulator
- IR transmit/receive
- 433Mhz transmit/receive (superheterodyne)
- WS2812 RGB LED
- RFM69HCW
- programming connector

[2018-01-28 08:42] posicat commented on #65
I'll post this on the Wiki and some pictures so folks can find it.

[2018-01-28 22:42] broekema commented on #164
I've create pull request #168 for discussion. This is a class based sensor refactor, that centralizes publishing of messages.

[2018-01-28 23:27] xoseperez commented on #81
@MACscr You can send arbitrary codes using the 0xA5 action, no need to have them learned beforehand. Using ESPurna you can send the code to "<base_topic>/rfout/set" topic and the device will broadcast it.

[2018-01-29 00:05] MACscr commented on #81
@xoseperez im not sure what you are talking about. i need the bridge to act as a RF/MQTT gateway. So it can receive commands from my RF remote and pass that to my MQTT gateway. As @1technophile and I have figured out, it doesnt reliable work that way. It works fine for learning a code and sending that code, but it cant consistently receive commands. seems the same remote (etekcity) buttons are inc

[2018-01-30 08:05] PetricaM commented on #33
Hi Florian,

I don't think it is feasible to implement support for AC protocols as they are simply too many and require quite advanced knowledge for average user. Moreover, the support should be implemented in IRRemote in order for OpenMQTT to recognize the signal.

However, there's an workaround. I think that it should work for most of the AC.

1. Simply record all the button codes send by the re

[2018-01-30 15:37] Hedda commented on #165
@posicat cheaper yes but not userfriendly to those who already own an Ikea Sparnäs and have it installed.

[2018-01-30 15:47] Hedda commented on #165
FYI; here are more detailed information information on how exactly Sparnäs work with power-meters :

https://github.com/kodarn/Sparsnas

@kodarn include a "LedBlinkerHelperToo" to emulate power-meter to help develop without Sparnäs.

Other people have also created similar LED blinkers for for it to do send a value to Sparnäs display, ex:

https://github.com/MagnusThome/sparsnas-esp8266-01
https://

[2018-01-30 16:25] posicat commented on #165
@Hedda I pointed out that we could build a similar interface easily just for those interested in monitoring their meters, that the Ikea Sparsnas wasn't the only option.  Especially for people like me in the US who's Ikea sadly doesn't sell them.

If you have one and are enjoying it, absolutely keep using it and add support.  At the same time the code to support the Sparsnas could include code to u

[2018-01-31 12:59] mizrachiran opened #169 "Sonoff RF bridge reconnect frequently"
Hi,

I'm using the latest version on a Sonoff RF Bridge.
It works great but it seems like it reconnect once in ~20 minutes. (I see offline and online messages sent over LWT topic).

Why is that happening?

![image](https://user-images.githubusercontent.com/617155/35624287-3dfbeef0-0697-11e8-925a-234873420dd3.png)

[2018-01-31 14:57] AKA-47 commented on #81
i saw the same problem like @MACscr on some cheap self learning plugs. if i debug this with my gateway based on STX88 receiver it shows that the remote sends 5 different codes of which my plug only reacts on one of this if i resend it via my STX Gateway. Receiving or Sending the same code via RFbridge doesnt work. it only works on very static transmissions as i see so we maybe need to maintain an

[2018-01-31 15:01] AKA-47 commented on #76
any news about the json output?

[2018-02-01 14:01] danobot opened #170 "Feature: Send on MQTT topic specific to RF payload"
It would be useful for home automation integration to have separate topics for different RF codes.
 home/433toMQTT/111111
and
 home/433toMQTT/222222
for two different motion sensors which send RF code "111111" and "222222" respectively.

Problem that made me think of this feature:
This enables easy set up of sensors based on those MQTT topics. Attempting to set up a sensor on a single topic means

[2018-02-01 15:54] mizrachiran commented on #169
just noticed on my MQTT server (Mosquitto) the following logs:

"Socket error on client OpenMQTTGateway"

[2018-02-01 19:32] 1technophile commented on #76
it's the next point on my TODO

[2018-02-03 07:30] Dan2705 opened #171 "user_config.h entirely ignored"
Dear Community,
I noted some "interesting" behavior and would highly appreciate a pointer

Fresh setup with minimal changes to user_config.h (only set wifi password, enabled rf gateway and set IP address for MQTT broker), however, my settings are entirely ignored.

It still shows a 192.168.*.* IP address although it has been obviously changed.
Did anybody experienced sth similar in the past? Where

[2018-02-03 09:42] 1technophile commented on #171
Yes uncomment espwifimanualsetup if you want to user manual configuration and not wifi manager

[2018-02-04 02:11] Dan2705 commented on #171
Uff... I could have saved a hell of time by taking the right code version. As a new user to GitHub, clicking the download button on the landing page was the most obvious thing.'
Thanks a lot for pointing out! Actually, I did not even had to uncomment "# define espwifimanualsetup" - it worked out of the box. Thanks again! Great project - cannot wait to get it fully working in my environment

[2018-02-04 02:11] #171 closed

[2018-02-04 17:29] NeoMatrixJR opened #172 "Using Widora Air (ESP32) - Can't compile with BLE turned on in config."
* OpenMQTTGateway version used MASTER
* Library version related to the problem you have (if you have troubles with RF provide the version of RCSwitch library) - CURRENT BLUETOOTH LIBRARY - did mods listed on wiki

is this normal to have so many multiple definitions?  I can't get it to compile.

compile log: - [Updated to verbose messages and moved to pastebin](https://pastebin.com/Bfj3zUiZ)

[2018-02-04 17:42] 1technophile commented on #172
I relaunched a build to see if esp32 env update makes the build broken, you can follow the result here:
https://travis-ci.org/1technophile/OpenMQTTGateway/jobs/336738178

if it is ok, your issue is most likely due to a bad component version

[2018-02-04 17:44] 1technophile commented on #172
the components used for this build can be found here:
https://github.com/1technophile/OpenMQTTGateway/blob/master/.travis.yml

[2018-02-04 19:23] rolfberkenbosch opened #173 "BLE on ESP32 is not working anymore after a few hours"
Hi All,

Does anybody know's why the BLE on the ESP32 is not working anymore after a few hours. I need to turn off the power and power it again.  Below the messages when it is not working anymore:

Data stored
E (4452082) BT: btc_search_callback  BLE observe complete. Num Resp 0

BT Task running on core 0
E (4482287) BT: btc_search_callback  BLE observe complete. Num Resp 0

BT Task running on cor

[2018-02-04 19:32] 1technophile commented on #173
Hello,

I'm investigating on this issue, the same issue was reported on home assistant forum

[2018-02-04 19:52] 1technophile commented on #172
Indeed the link given in the library folder is not good the last version of ESP32_BLE_Arduino doesn't compile, I confirm that you can take this one and it compile:
https://github.com/nkolban/ESP32_BLE_Arduino/archive/f8fe9d7cdfb20caa54b70849826d1ac6e375ff78.zip

[2018-02-04 20:09] rolfberkenbosch commented on #173
Ok, let me know if I can do anything for you to help.

[2018-02-04 20:22] 1technophile commented on #173
thanks for proposing, could you change l117 of ZgatewayBT and replace 1 by 0
Current
[code]
New
[code]

and try again

In the meanwhile I'm doing another test

[2018-02-05 01:57] NeoMatrixJR commented on #172
@1technophile - I grabbed that last zip you posted and dropped it in place.  Do I still need to modify the files with the ones on the wiki?  Just straight dropping in the zip produced this:
[Recompile pastebin with new zip](https://pastebin.com/v31JRQ1Z)

[2018-02-05 07:25] 1technophile commented on #172
Yes you have to overwrite the 2 files

[2018-02-05 19:38] rolfberkenbosch commented on #173
Hi, I have tried that but the same problem accour after a few hours._

[2018-02-06 04:58] #172 closed

[2018-02-06 04:58] NeoMatrixJR commented on #172
works!

[2018-02-06 22:05] 1technophile commented on #112
https://github.com/esp8266/Arduino/issues/1426

[2018-02-07 07:28] alpat59 commented on #173
I’m having the same problem, also after the change l117
Thank you in advance for a fix

[2018-02-07 17:54] bphermansson opened #174 "Pir sensor documentation missing"
I can't see anything about Pir sensor in the Wiki, had to look at the source for finding the pin to use.

[2018-02-08 22:06] 1technophile commented on #162
@betonishard did you finaly get it working?

[2018-02-09 17:23] bphermansson commented on #166
I'm thinking the same. Also the Mqtt-topics should be in one place, now it's a pain to look around for different settings.

[2018-02-09 19:56] betonishard commented on #162
@1technophile I finally couldn't solve it so I bought the Doit version just for testing. I was able to test this, however pin 13 still wasn't working. GPIO 27 worked directly. When I did that my BLE was completely gone (really strange). The same issue people mentioned in one of the latest posts. I set the priority to 0 and it started working. Haven't been able to do a duration test yet. But I thin

[2018-02-10 08:34] bphermansson commented on #174
So I fixed it, now there's pir info in the wiki :)

[2018-02-10 08:34] #174 closed

[2018-02-12 17:57] betonishard commented on #173
Hi all, using a doit esp32 I have the same problem, after a few hours the board becomes totally unresponsive. When you are using the BLE options other components fail as well (RF433).
Thanks in advance

[2018-02-13 22:45] Boxter83 commented on #173
I`m also have the same problem with ESP32 that i lose connection efter som time. I tried to find cause, but right now i have only find out that it is the wifi connection that fails after some time. Tried to ping the IP adress but no answer, but i can see in the seriall monitor that everyting else works.

[2018-02-14 06:42] 1technophile commented on #173
Thanks for the infos, i will take a look on it in a few days

[2018-02-15 15:23] LucaAghemo opened #175 "Home Assistant can't read sensors and some troubles on RF tx"
Hello, and thx for the great work you did with OpenMQTTGateway!
I build a combined version with RF rx and tx, IR rx and tx and a DHT22 sensor on a NodeMCU ESP8266 12E. The OMG version is 0.6.2.
RF and IR seems to work fine, I still have to figure out how to handle IR in Home Assistant, but this will come later.
RF has something strange: I used superetherodyne rx and tx, the same that I was using b

[2018-02-15 15:28] LucaAghemo opened #176 "Home Assistant DHT Sensors wrong code"
Just a small correction:
in the Home Assistant integration section, talking about DHT sensors, the code to be included in configuration.yaml HA file has this line:

state_topic: "home/433toMQTT/dht1/temp" (or hum for humidity)

This is actually wrong, as DHT is not received by RF. Changing the line with:

state_topic: "home/DHTtoMQTT/dht1/temp" (or hum for humidity)

made it work properly for me.

[2018-02-15 20:00] 1technophile commented on #175
Hello,

Did you checked the wiki for RF advanced parameters sending?
https://github.com/1technophile/OpenMQTTGateway/wiki/User-guide-RF

About home assistant integration you have also some infos in the wiki:
https://github.com/1technophile/OpenMQTTGateway/wiki/Home-Assistant-integration

Moreover for questions I advise you to go to the chat room:
[![Gitter chat](https://img.shields.io/gitter/room/

[2018-02-15 20:00] 1technophile commented on #176
thanks for the info, don't hesitate to correct it directly into the wiki

[2018-02-16 08:22] Landrash commented on #176
Updated Wiki with relevant information.

[2018-02-16 09:04] LucaAghemo commented on #175
Thx a lot, in my fumbling around in search of info I read the wiki when I wasn't ready to understand it!
Actually the Home Assistant integration page gives more info than what I remember, and gives me the chance to make some test and sort it out. If I'll be in trouble I'll go to the chat room.
Anyway, you did an amazing work with this OMG, so thanks again!

[2018-02-16 09:49] LucaAghemo commented on #175
A small update, I solved the RF switch problem by changing the PLSL_xxx value to the correct one, that for my outlets was 345. Now it works perfectly!
I'll check on the chat for the binary sensor not working and other stuff.
THX!!

[2018-02-16 17:42] 1technophile commented on #173
It seems that there is a memory leak somewhere, i have the available ram decreasing continuously.
I have to isolate now where it comes from.

[2018-02-16 18:42] Daemonentreiber opened #177 "config_DHT.h receiver pin error"
Hi.
In config_DHT.h the value of the receiver pin for the ESP8266 throws an error.
It should be changed from "D1" to "5" (and "14" instead of "D5" for the alternative pin).

[2018-02-17 07:29] 1technophile commented on #173
@all could you test last version from master please, I did a modification after @nkolban advices

[2018-02-17 09:20] betonishard commented on #173
@1technophile replaced the ZgatewayBT.ino file in my current setup and test is running.

I will post my findings

[2018-02-17 11:29] Boxter83 commented on #173
I tryed the new ZgatewayBT.ino but then it dosen't finde my Miflora anymore. Anymore else how made it work better than me?

[2018-02-17 12:36] alpat59 commented on #173
I tried too and it doesn't find BLE devices. Thank you for your support

[2018-02-17 12:40] alpat59 commented on #173
sorry .. the behaviour changed just now after 3/4 reboot (why?). Now I can see BLE devices. I'll check if it will work stable.

[2018-02-17 14:28] Rudertier opened #178 "Translating the codes"
Hi,
I am having  problems with receiving signals from the receiver, however I know that my transmitter and the nodemcu board I have can switch my plug, as I can run the send example out of the box.
So I know that those commands work:
`
mySwitch.switchOn("11111", "00010");
mySwitch.switchOff("11111", "00010");
mySwitch.send(5393, 24);
mySwitch.send(5396, 24);
mySwitch.send("000000000001010100010001

[2018-02-17 15:13] betonishard commented on #173
Hello @all. Actually it works good now in my setup. Maybe if I would share my setup it could be helpfull to others. I have a DOIT ESP32, with an RF receiver connect to gpio 27 and a rf sender connected to gpio 12. I have 2 bluetoothe beacons (nut) and they get detected as well as my miFlora is working also properly sinds this morning (for 7 hours straight now).

[2018-02-17 16:12] 1technophile commented on #178
Hello,

From what I understand you don't understand how to send rf signal with the gateway ?
Did you checked the user guide :
https://github.com/1technophile/OpenMQTTGateway/wiki/User-guide-RF#send-data-by-mqtt-with-advanced-rf-parameters

The first example could help you

Nevertheless this kind of question should be asked on the gitter chat

[2018-02-17 17:42] 1technophile commented on #173
@alpat59 you mean with the new code it didn't find your beacons or it is the first time you tried with openmqttgateway. If you are in the second case you should better go to the chat room and gives infis about your setup

[2018-02-17 17:44] 1technophile commented on #173
@alpat59 haven t seen your last post. Forget my comment.

[2018-02-18 10:54] rolfberkenbosch commented on #173
@1technophile I'm trying it also right now. There is indeed a problem with the wifi connection. I have made a ugly fix fix for it. I will push the fix to git tomorrow.

[2018-02-18 11:27] 1technophile commented on #173
@betonishard are you also having a problem with the wifi connection ?

[2018-02-18 11:53] betonishard commented on #173
@1technophile this morning it stopped working.. it worked close to 24 hours without problems. I don't know if it was wifi because I didn't hook it up to a serial monitor yesterday.

[2018-02-18 13:00] Rudertier commented on #178
Thanks for the prompt reply. Perhaps I did not phrase my question well enough.
As far as I understand I need to know three parameters: Pulslength, rf protocol and bit lenght.
Now as I know that `mySwitch.switchOn("11111", "00010")` switches my plug when I run the *SendDemo.ino* I thought It could work my way backwards from there to determine the tree parameters I have to use. I would guess they ar

[2018-02-18 13:35] alpat59 commented on #173
I’m having the same WiFi connection problem. Disconnection after some hours.

[2018-02-18 16:06] 1technophile commented on #178
to know what we have to send the best way is to check what the gateway or a ReceiveDemo_Advanced example are recceiving and give it to us. We will explain you how to translate it into MQTT the equivalent to:
https://github.com/1technophile/OpenMQTTGateway/wiki/User-guide-RF#send-data-by-mqtt-with-advanced-rf-parameters

[2018-02-18 16:08] 1technophile commented on #173
Maybe we should monitor this issue:
https://github.com/espressif/arduino-esp32/issues/653

[2018-02-18 16:35] 1technophile commented on #173
I 've just added wifi auto reconnection

[2018-02-18 18:43] 1technophile commented on #177
done thanks for reporting

[2018-02-18 18:43] #177 closed

[2018-02-18 18:44] 1technophile commented on #176
I think this can be close,  if not you can reopen it

[2018-02-18 18:44] #176 closed

[2018-02-18 18:46] 1technophile commented on #170
Hello,

We could do that, but this enter in conflict with the requests of replacing standard payload by json ones.
Does Json publishing could help you ?

[2018-02-18 19:02] 1technophile commented on #166
There is pro and cons,
Sol A one file for pinout: pro yes it can be easier to have all the pins in one place in particular if you search the "ideal" pinout
Sol B separate files for pintout: cons in a developper point of view to have a file for each sensor/gateway avoid conflict during merge

but maybe pros of sol A is more important than cons of sol B, it's open, if others have ideas to share abou

[2018-02-18 20:06] ctripodi opened #179 "Bluetooth module XM-15B with a NODEMCU Lolin is not working."
Hello,
I am trying to use an Bluetooth module XM-15B with a NODEMCU Lolin but is not working.
I could not see any MQTT message.
I am using OpenMQTTGateway version v 0.7
I am using a modulo that is not complatible?

[2018-02-18 20:11] 1technophile commented on #179
Hello,
Nope it is not compatible, with a nodemcu the module supported for ble are HM10 and HM11

[2018-02-18 20:16] ctripodi commented on #179
OK, Thanks.

[2018-02-18 20:16] #179 closed

[2018-02-19 10:09] Rudertier commented on #178
So there is no way, at least not an easy one, to get this based on the system and unit codes? That is a pity. I'll try to get one my receivers working then. Thanks for the help.

[2018-02-19 10:09] #178 closed

[2018-02-19 19:20] 1technophile commented on #178
It is not implemented, the way it is handled use the value from:
mySwitch.send(5393, 24);

[2018-02-20 20:09] 1technophile commented on #173
Do you have some feedbacks with auto reconnection added?

[2018-02-21 13:27] betonishard commented on #173
@1technophile it failed again. I am not sure about the reason, it wasn't connected to serial monitor when it happened. It occured after several hours.

[2018-02-22 15:08] betonishard commented on #173
@1technophile, the wifi part is working.. So the commands send out to the rf sender are working. Wifi is not down, however no bluetooth activity... (maybe priority 0, as suggested in earlier post?)

[2018-02-22 19:29] 1technophile commented on #173
@betonishard do you see something on the serial monitor related to bluetooth?

I'm reproducing the same but I'm not connected to serial.

[2018-02-22 19:50] 1technophile commented on #175
I think we can close this issue, if the problem remains reopen it

[2018-02-22 19:50] #175 closed

[2018-02-22 20:57] betonishard commented on #173
@1technophile. Mine is not connected to serial monitor either. I noticed it on mqttdash with my phone that ble is dead.

I have 2 but beacons and a miflora. No messages at all.. hope you can check it

[2018-02-22 21:33] 1technophile commented on #173
I setup one esp32 with minimal BLE scan example with a serial monitor connection to monitor it. Feedback in a few days

[2018-02-23 09:16] rolfberkenbosch commented on #173
I will test it also, i will let you know the outcome.

[2018-02-25 13:46] knopserl opened #180 "Feature Idea: Homematic/Asksin/BidCos interface"
This project is geat! as I'm trying to implement one gateway for multiple RF/Wifi devices and this looks as the best base for, it would be very attractive to inlude also the homematic Bidcos protocol. There are only a very few implementaions which support Bidcos like Homegear or the AskSin++ library, but with a couple of other side effects. Asksin++ runs not on ESP boards (AVM/ARM based like STM32

[2018-02-26 21:45] posicat commented on #65
Just got my tax refund, picked up a few ESP8266 boards, need to some 433mhz radios (any one considered the best model?) so I can try and prototype a board for the ESP-12F.

There were some problems with the pinouts for the D3 mentioned earlier, have those been resolved?

[2018-02-27 06:13] jumpalottahigh commented on #65
I have some of those (superheterodyne):

https://www.aliexpress.com/item/433MHz-100-Meters-Wireless-Module-Kit-ASK-Transmitter-STX882-ASK-Receiver-SRX882-2Pcs-Copper-Spring-Antenna/32637181317.html?spm=a2g0s.9042311.0.0.JK1jKr

and I also have some of those cheaper ones (regular):

https://www.aliexpress.com/item/1Lot-1-pair-2pcs-Best-prices-433Mhz-RF-transmitter-and-receiver-link-kit-for-Arduino/

[2018-02-27 06:19] 1technophile commented on #65
D3 is not a good idea for RF receiver, we should switch with another pin. D2 could be a option if you are not planning to use I2C bus
Global pinout is summarized here:
https://docs.google.com/spreadsheets/d/1_5fQjAixzRtepkykmL-3uN3G5bLfQ0zMajM9OBZ1bx0/edit?usp=sharing

[2018-02-27 17:02] 1technophile commented on #170
some infos that is related to this request:
https://community.home-assistant.io/t/mqtt-py-log-warning-no-matching-payload-found-for-entity/42995/5

[2018-02-28 08:38] liwenyip commented on #170
I've done something like this on my own fork by splitting the RF codeword into its address and data parts, and sending three additional MQTT messages like this (look at the last three lines):

[code]

See https://github.com/liwenyip/OpenMQTTGateway/commit/9032c91fd7f2f0635134a190aa07ff6f4218f1d4

Do you think this would be a useful feature to incorporate into the main fork? (Let me know and I'll s

[2018-03-01 06:49] 1technophile commented on #173
Now working for more than 48 hours with the last version of master code

[2018-03-01 09:09] 1technophile commented on #170
Hello, Thanks for proposing.
It is interesting. Indeed we have several ways to satisfy that:
Sending the complete code as the last part of the topic:
home/433toMQTT/2971624 1

or

Sending the adress like you propose and the data:
home/433toMQTT/2971616 8

or

And keeping in mind that the next version will include json format we could imagine something like that:
home/433toMQTT/2971616 {"protocol":

[2018-03-01 09:52] #163 closed

[2018-03-02 21:58] 1technophile commented on #173
4 days without issues.

Could somebody confirm it is working continuously with the last master version?

[2018-03-03 12:12] betonishard commented on #173
@1technophile it seems to be working when it is started, however it still unpredictable. Sometimes when I reset the board it won't start, sometimes it will. When I connect a rf433 receiver on pin27 or pin 13. I plug in the the power I get "Guru Meditation Error: Core 1 panic'ed (Cache disabled but cached memory region accessed)". Bluetooth stops working and when I restart the board bluetooth won't

[2018-03-03 12:55] 1technophile commented on #173
Are you using my last commited version?

[2018-03-03 14:41] betonishard commented on #173
@1technophile Yes I am....

[2018-03-03 14:48] 1technophile commented on #173
Could you send me your code and config files please and give me the board you are using?

What is your ESP32 arduino update date?

[2018-03-03 14:56] betonishard commented on #173
@1technophile what part of the code do you need? Everything, all files? How can I find my esp32 arduino update date? Sorry for the questions..

[2018-03-03 20:15] 1technophile commented on #173
@betonishard you can send me all.
regarding ESP32 ide if you can remenber hen you donwloaded it

[2018-03-03 21:07] betonishard commented on #173
@1technophile, you can download it from here, https://github.com/betonishard/testing/blob/master/setup.zip

just did a pull on the esp32
   52d4705..d29cfdb  master              -> origin/master
 * [new branch]      enhance-test-detail -> origin/enhance-test-detail
Updating 52d4705..d29cfdb
Fast-forward
 boards.txt                     | 52 +++++++++++++++++++++++++++++++++++++++
 docs/platformio.m

[2018-03-04 07:14] 1technophile commented on #173
Could you try please to:
-download the last arduino ESP32 boards version
-comment in user_config.h ZgatewayRF, ZgatewayRF2 and config_rf.h

and give me feedback

[2018-03-04 09:36] 1technophile commented on #173
when you are copying the nkolban folder are you taking this revision?
https://github.com/nkolban/ESP32_BLE_Arduino/tree/3f5005c383540d07dd16ac044c78d7be28d4aa8e

[2018-03-04 09:36] 1technophile commented on #173
@rolfberkenbosch could you test also with the lateste revision of OpenMQTTGateway master please?